<%- if @manifestation -%>
  <%= render 'manifestations/title', :manifestation => @manifestation -%>
  <br />
<%- end -%>

<script>
$(function(){
  $('#approval_all_process_start_at').setCalendar({src:'/assets/calendar.png'});
  $('#approval_sample_request_at').setCalendar({src:'/assets/calendar.png'});
  $('#approval_sample_arrival_at').setCalendar({src:'/assets/calendar.png'});
  $('#approval_group_approval_at').setCalendar({src:'/assets/calendar.png'});
  $('#approval_approval_end_at').setCalendar({src:'/assets/calendar.png'});
  $('#approval_donate_request_at').setCalendar({src:'/assets/calendar.png'});
  $('#approval_donate_request_replay_at').setCalendar({src:'/assets/calendar.png'});
  $('#approval_refuse_at').setCalendar({src:'/assets/calendar.png'});
  $('#approval_all_process_end_at').setCalendar({src:'/assets/calendar.png'});
});
</script>

<%= form_for(@approval) do |f| %>

  <div id="table" %>

    <%= f.error_messages %>

    <%= f.hidden_field :manifestation_id %>

    <div class="row">
      <div><h4><%= t('approval.basic_information') %></h4></div>
      <div></div>
    </div>

    <% unless @manifestation %>
      <div class="row">
        <div><strong><%= t('activerecord.attributes.manifestation.identifier') %></strong></div>
        <div><%= text_field '','identifier', :value => @identifier %></div>
      </div>
    <% end %>

    <div class="row">
      <div><%= f.label :approval_identifier %></div>
      <div><%= f.text_field :approval_identifier %></div>
    </div>

    <div class="row">
      <div><%= f.label :created_by %></div>
      <div>
        <%= @approval.create_user.agent.full_name %>
        <%= f.hidden_field :created_by %>
      </div>
    </div>
 
    <div class="row">
      <div><%= f.label :reception_agent_id %></div>
      <div>
        <%= f.select2 :reception_agent_id,
          @select_agent_tags,
          @approval.reception_agent_id,
          select_attribute: ['username', 'user'],
          display_attribute: 'full_name',
          include_blank: true, 
          width: 250 %>
      </div>
    </div>

    <div class="row">
      <div><%= f.label :collection_sources %></div>
      <div><%= f.text_field :collection_sources %></div>
    </div>

    <hr />
    <div class="row">
      <div><h4><%= t('approval.group_approval') %></h4></div>
      <div></div>
    </div>

    <div class="row">
      <div><%= f.label :group_user_id %></div>
      <div>
        <%= f.select2 :group_user_id, 
          @group_users,
          @approval.four_priority_areas,
          select_attribute: 'username', 
          display_attribute: ['full_name', 'agent'],
          include_blank: true, 
          width: 250 %>
      </div>
    </div>

    <% if select_four_priority_areas %>
      <div class="row">
        <div><%= f.label :four_priority_areas %></div>
        <div>
          <%= f.select2 :four_priority_areas, 
            select_four_priority_areas,
            @approval.four_priority_areas,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true, 
            width: 250 %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <% if select_document_classification_1 %>
        <div><%= f.label :document_classification_1 %></div>
        <div>
          <%= f.select2 :document_classification_1, 
            select_document_classification_1, 
            @approval.document_classification_1,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
      <% if select_document_classification_2 %>
        <div><%= f.label :document_classification_2 %></div>
        <div>
          <%= f.select2:document_classification_2, 
            select_document_classification_2,
            @approval.document_classification_2,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
    </div>

    <% if select_thrsis_review_flg %>
      <div class="row">
        <div><%= f.label :thrsis_review_flg %></div>
        <div>
          <%= f.select2 :thrsis_review_flg, 
            select_thrsis_review_flg, 
            @approval.thrsis_review_flg,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <% if select_ja_text_author_summary_flg %>
        <div><%= f.label :ja_text_author_summary_flg %></div>
        <div>
          <%= f.select2 :ja_text_author_summary_flg, 
            select_ja_text_author_summary_flg, 
            @approval.ja_text_author_summary_flg,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
      <% if select_en_text_author_summary_flg %>
        <div><%= f.label :en_text_author_summary_flg %></div>
        <div>
          <%= f.select2 :en_text_author_summary_flg, 
            select_en_text_author_summary_flg, 
            @approval.en_text_author_summary_flg,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div><%= f.label :adoption_report_flg %></div>
      <div><%= f.check_box :adoption_report_flg %></div>
    </div>

    <div class="row">
      <div><%= f.label :excepting_number_of_year %></div>
      <div><%= f.text_field :excepting_number_of_year %></div>
      <div><%= f.label :proceedings_number_of_year %></div>
      <div><%= f.text_field :proceedings_number_of_year %></div>
    </div>

    <div class="row">
      <% if select_approval_result %>
        <div><%= f.label :group_approval_result %></div>
        <div>
          <%= f.select2 :group_approval_result, 
            select_approval_result, 
            @approval.group_approval_result,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
      <% if select_group_result_reason %>
        <div><%= f.label :group_result_reason %></div>
        <div>
          <%= f.select2 :group_result_reason, 
            select_group_result_reason,
            @approval.group_result_reason,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div><%= f.label :group_note %></div>
      <div><%= f.text_area :group_note, style: "width: 657px; height: 40px;" %></div>
    </div>

    <hr />
    <div class="row">
      <div><h4><%= t('approval.process') %></h4></div>
      <div></div>
    </div>

    <div class="row">
      <div><strong>1. <%= t('approval.all') %></strong></div>
      <div></div>
    </div>
    <div class="row">
      <div><%= f.label :all_process_start_at %></div>
      <div>
        <% if @approval.all_process_start_at %>
          <%= f.text_field :all_process_start_at, :value => @approval.all_process_start_at.to_date, class: 'date_text_field' %>
        <% else %>
          <%= f.text_field :all_process_start_at, class: 'date_text_field' %>
        <% end %>
      </div>
      <div><%= f.label :all_process_end_at %></div>
      <div>
        <% if @approval.all_process_end_at %>
          <%= f.text_field :all_process_end_at, :value => @approval.all_process_end_at.to_date, class: 'date_text_field' %>
        <% else %>
          <%= f.text_field :all_process_end_at, class: 'date_text_field' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div><%= f.label :collect_user %></div>
      <div><%= f.text_field :collect_user, style: "width: 347px;"  %></div>
    </div>
    <div class="row">
      <div><%= f.label :status %></div>
      <div>
        <%= t("activerecord.attributes.approval.approval_status.#{@approval.status}") %>
        <%= f.hidden_field :status %>
      </div>
    </div>
    <% if select_publication_status %>
      <div class="row">
        <div><%= f.label :publication_status %></div>
        <div>
          <%= f.select2 :publication_status,
            select_publication_status,
            @approval.publication_status,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 350 %>
        </div>
      </div>
    <% end %>

    <br />
    <div class="row">
      <div><strong>2. <%= t('approval.sample') %></strong></div>
      <div></div>
    </div>
    <div class="row">
      <div><%= f.label :sample_request_at %></div>
      <div>
        <% if @approval.sample_request_at %>
          <%= f.text_field :sample_request_at, :value => @approval.sample_request_at.to_date, class: 'date_text_field' %>
        <% else %>
          <%= f.text_field :sample_request_at, class: 'date_text_field' %>
        <% end %>
      </div>
      <div><%= f.label :sample_arrival_at %></div>
      <div>
        <% if @approval.sample_arrival_at %>
          <%= f.text_field :sample_arrival_at, :value => @approval.sample_arrival_at.to_date, class: 'date_text_field' %>
        <% else %>
          <%= f.text_field :sample_arrival_at, class: 'date_text_field' %>
        <% end %>
      </div>
    </div>
    <% if select_sample_carrier_type %>
      <div class="row">
        <div><%= f.label :sample_carrier_type %></div>
        <div>
          <%= f.select2 :sample_carrier_type,
            select_sample_carrier_type,
            @approval.sample_carrier_type,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div><%= f.label :sample_note %></div>
      <div><%= f.text_area :sample_note, style: "width: 657px; height: 40px;" %></div>
    </div>

    <br />
    <div class="row">
      <div><strong>3. <%= t('approval.approval') %></strong></div>
      <div></div>
    </div>
    <div class="row">
      <div><%= f.label :group_approval_at %></div>
      <div>
        <% if @approval.group_approval_at %>
          <%= f.text_field :group_approval_at, :value => @approval.group_approval_at.to_date, class: 'date_text_field' %>
        <% else %>
          <%= f.text_field :group_approval_at, class: 'date_text_field' %>
        <% end %>
      </div>
      <div><%= f.label :approval_end_at %></div>
      <div>
        <% if @approval.approval_end_at %>
          <%= f.text_field :approval_end_at, :value => @approval.approval_end_at.to_date, class: 'date_text_field' %>
        <% else %>
          <%= f.text_field :approval_end_at, class: 'date_text_field' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% if select_approval_result %>
        <div><%= f.label :approval_result %></div>
        <div>
          <%= f.select2 :approval_result,
            select_approval_result,
            @approval.approval_result,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
      <% if select_reason %>
        <div><%= f.label :reason %></div>
        <div>
          <%= f.select2 :reason,
            select_reason,
            @approval.reason,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
    </div>

    <br />
    <div class="row">
      <div><strong>4. <%= t('approval.donate_request') %></strong></div>
      <div></div>
    </div>
    <div class="row">
      <div><%= f.label :donate_request_at %></div>
      <div>
         <% if @approval.donate_request_at %>
           <%= f.text_field :donate_request_at, value: @approval.donate_request_at.to_date, class: 'date_text_field' %>
         <% else %>
           <%= f.text_field :donate_request_at, class: 'date_text_field' %>
         <% end %>
      </div>
      <div><%= f.label :donate_request_replay_at %></div>
      <div>
        <% if @approval.donate_request_replay_at %>
          <%= f.text_field :donate_request_replay_at, :value => @approval.donate_request_replay_at.to_date, class: 'date_text_field' %>
        <% else %>
          <%= f.text_field :donate_request_replay_at, class: 'date_text_field' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% if select_donate_request_result %>
        <div><%= f.label :donate_request_result %></div>
        <div>
          <%= f.select2 :donate_request_result, 
            select_donate_request_result,
            @approval.donate_request_result,
            select_attribute: 'v', 
            display_attribute: 'keyname',
            include_blank: true,
            width: 250 %>
        </div>
      <% end %>
      <div><%= f.label :refuse_at %></div>
      <div>
        <% if @approval.refuse_at %>
          <%= f.text_field :refuse_at, :value => @approval.refuse_at.to_date, class: 'date_text_field' %>
        <% else %>
          <%= f.text_field :refuse_at, class: 'date_text_field' %>
        <% end %>
      </div>
    </div>
    <%= render 'form_process_notes', f: f, approval: @approval %>

    <div class="row actions">
      <div></div>
      <div><%= f.submit %></div>
    </div>
  </div>
<% end %>
