<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('activerecord.models.keyword_count') %></h1>
<div id="content_list">

<script>
  $(function(){
    $('#start_d').setCalendar({src:'/assets/calendar.png'});
    $('#end_d').setCalendar({src:'/assets/calendar.png'});
  });

  function push_submit(format) {
    var o = document.getElementById('form');
    if(format == 'xlsx')
      o.action = "<%= keyword_counts_path(:format => 'xlsx') %>";
    else if(format == 'csv')
      o.action = "<%= keyword_counts_path(:format => 'csv') %>";
    else if(format == 'tsv')
      o.action = "<%= keyword_counts_path(:format => 'tsv') %>";
    else
      o.action = "<%= keyword_counts_path %>";
    o.submit();
  }
</script>

<%= form_for :keyword_counts, :html => { :method => 'get', :id => 'form' } do %>
  <div style="color: red"><%= flash[:message] %></div>
  <p>
    <%= t('advanced_search.from_date') %>:
    <%= text_field_tag 'start_d',
      h(@start_d), :size => 10, :placeholder => "#{t('page.example')}: #{t('page.example_date')}" %>
    <%= t('advanced_search.to_date') %>:
    <%= text_field_tag 'end_d',
       h(@end_d), :size => 10, :placeholder => "#{t('page.example')}: #{t('page.example_date')}" %>
    <%= submit_tag t('page.search'), :onclick => "push_submit('');" %>
    <div class="actions">
      <%#= submit_tag t('page.output_csv', :model => t('page.listing', :model => t('activerecord.models.keyword_count'))), :onclick => "push_submit('csv');" %>
      <%#= submit_tag t('page.output_tsv', :model => t('page.listing', :model => t('activerecord.models.keyword_count'))), :onclick => "push_submit('tsv');" %>
      <%= t('page.output', :model => t('page.listing', :model => t('activerecord.models.keyword_count'))) %>
      <br>
      <%= submit_tag t('expense.export_excelx'), :onclick => "push_submit('xlsx');" %>
      <% if SystemConfiguration.get('set_output_format_type') %>
        <%= submit_tag t('expense.export_tsv'), :onclick => "push_submit('tsv');" %>
      <% else %>
        <%= submit_tag t('expense.export_csv'), :onclick => "push_submit('csv');" %>
      <% end %>
    </div>
  </p>
<% end %>

<table class="index statistics">
  <tr>
    <th><nobr><%= t('activerecord.attributes.keyword_count.rank') %></nobr></th>
    <th><nobr><%= t('activerecord.attributes.keyword_count.keyword') %></nobr></th>
    <th><nobr><%= t('activerecord.attributes.keyword_count.count') %></nobr></th>
  </tr>
  <% @rank_results.each do |rank_result| %>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><nobr><%= rank_result.rank %></nobr></td>
      <td><nobr><%= link_to h(rank_result.keyword), manifestations_path(:query => rank_result.keyword) %></nobr></td>
      <td><nobr><%= rank_result.count %></nobr></td>
    </tr>
  <% end %> 
</table>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
   <li><%= link_to t('page.back'), page_exstatistics_path %></li>
  </ul>
</div>
