<script>
jQuery(function(){
  var article_title = "<%= @series_statement.root_manifestation.article_title %>"
  displayArticleTitle(article_title);
  $('#manifestation_manifestation_type_id').change(function () {
    article_title = ""
    displayArticleTitle(article_title);
  });
})

function toggle_upload(){
  if ($('#manifestation_delete_attachment').attr('checked')){
    $('#manifestation_attachment').attr("disabled", true);
  } else {
    $('#manifestation_attachment').removeAttr("disabled");
  }
}

function displayArticleTitle(article_title) {
  var manifestation_type = $('#manifestation_manifestation_type_id').val();
  var series_list = ['9', '10'];
  if($.inArray(manifestation_type, series_list) != -1) {
    var data = "<label class='text optional' for='manifestation_article_title'>"
             + "<%= t('activerecord.attributes.manifestation.article_title') %>"
             + "</label>"
             + "<br />"
             + "<input class='resource_title' id='manifestation_article_title' name='manifestation[article_title]' size='30' type='text'"
             + " value=" + article_title
             + ">"
    $("#article_title_field").html(data);
  } else {
    $("#article_title_field").html("");
  }
}

var ItemField_language = {
  currentNumber : <%= raw (@series_work_has_languages.blank? ? 1 : @series_work_has_languages.size).to_json %>,
  itemTemplate : ''
    + '<select id="language_id___count__" name="language_id[__count__]">'
    + <%= raw @languages.collect{ |l| ["<option value='" + l.id.to_s + "'>" + l.display_name.localize + "</option>"] }.join().to_json %>
    + '</select>&#10'
    + '<select id="language_type___count__" name="language_type[__count__]">'
    + <%= raw @language_types.collect{ |t| ["<option value='" + t.id.to_s + "'>" + t.display_name.localize + "</option>"] }.join().to_json %>
    + '</select>&#10'
    + '<input type="button" value="+" onClick="ItemField_language.add();" /> '
    + '<input type="button" value="-" onClick="ItemField_language.remove(__count__);" />',
  add : function () {
    var field = document.getElementById('language');
    var new_area = document.createElement("div");
    new_area.setAttribute("id", "LANG" + this.currentNumber);
    var newItem = this.itemTemplate.replace(/__count__/mg, this.currentNumber);
    new_area.innerHTML = newItem;
    field.appendChild(new_area);
    this.currentNumber += 1;
  },
  remove : function (div_num) {
    var field = document.getElementById('LANG' + div_num);
    if(field != null){ field.parentNode.removeChild(field); }
  }
}
</script>

<script id="script_add_title">
  function add_field(obj, parent_id, id_name) {
    var new_area = document.createElement("div");
    new_area.setAttribute("id", id_name + obj.currentNumber);
    new_area.innerHTML = obj.template.replace(/__count__/mg, obj.currentNumber);
    document.getElementById(parent_id).appendChild(new_area);
    obj.currentNumber += 1;
  }
  function remove_field(div_num, id_name) {
    var field = document.getElementById(id_name + div_num);
    if(field != null){ field.parentNode.removeChild(field); }
  }

  var ItemField_title = {
    currentNumber: <%= raw (@work_manifestation.work_has_titles.size == 0 ? 1 : @work_manifestation.work_has_titles.size).to_json %>,
    template : ''
      + '<div class="field">'
      + '<input id="work_has_titles_attributes___count___title_str" name="work_has_titles_attributes___count___title_str" placeholder=<%= t('activerecord.models.title') %> type="text" class="resource_title" /> '
      + '<select id="manifestation_work_has_titles_attributes___count___title_type_id" name="manifestation[work_has_titles_attributes][__count__][title_type_id]"> '
      <% @title_types.collect do |m| %>
        + '<option value="<%= m.id %>"><%= m.display_name.localize %></option>'
      <% end %>
      + '<input id="manifestation_work_has_titles_attributes___count___title_id" name="manifestation[work_has_titles_attributes][__count__][title_id]" type="hidden" value="" /> '
      + '<input id="manifestation_work_has_titles_attributes___count___title_id" name="manifestation[work_has_titles_attributes][__count__][position]" type="hidden" value="__count__" />'
      + '<input type="button" value="+" onClick="ItemField_title.add();" />  '
      + '<input type="button" value="-" onClick="ItemField_title.remove(__count__);" /> '
      + '</div>',
    add : function () { add_field(this, 'titles', 'VF'); },
    remove : function (div_num) { remove_field(div_num, 'VF'); }
  };
</script>

  <%= render 'manifestations/observe_field' %>

  <div class="field" id="article_title_field">
    <%= f_m.label :article_title %><br />
    <%= f_m.text_field :article_title, :class => 'resource_title' %>
  </div>

  <% if SystemConfiguration.get('manifestation.use_titles') %>
    <div class="field" id='titles'>
      <% @work_manifestation.work_has_titles << WorkHasTitle.new(:position => 0) if @work_manifestation.work_has_titles.blank? %>
      <% @work_manifestation.work_has_titles.each_with_index do |work_has_title, index| %>
        <%= f_m.fields_for :work_has_titles, work_has_title do |w_f| %>
          <div class="field" id="VF<%= index %>">
            <% if work_has_title.manifestation_title %>
              <%= text_field_tag "work_has_titles_attributes_#{index}_title_str",
                work_has_title.manifestation_title.title,
                :placeholder => t('activerecord.models.title'),
                :class => 'resource_title' %>
            <% else %>
              <%= text_field_tag "work_has_titles_attributes_#{index}_title_str",
                params["work_has_titles_attributes_#{index}_title_str"],
                :placeholder => t('activerecord.models.title'),
                :class => 'resource_title' %>
            <% end %>
            <%= w_f.select :title_type_id, @title_types.collect{|m| [m.display_name.localize, m.id]} %>
            <%= w_f.hidden_field :title_id -%>
            <%= w_f.hidden_field :position -%>
            <%= button_to_function '+', 'ItemField_title.add()' %>
            <%= button_to_function '-', 'ItemField_title.remove(' + index.to_s + ')' if index > 0 %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f_m.label :identifier %><br />
    <%= f_m.text_field :identifier %>
    <%= select :numbering, :type, @numberings.map{|n| [n.display_name, n.name]} %>
    <%= link_to t('activerecord.models.numbering'), {}, :onClick => "numbering();false", :remote => true %>
  </div>

  <%= render 'manifestations/form_agent_field' %>

  <div class="field">
    <%= f_m.label t('page.file') -%><br />
    <%= f_m.file_field :attachment -%>
    <%- unless @series_statement.root_manifestation.attachment_file_name.blank? -%>
        <%= f_m.check_box :delete_attachment, :onClick => "toggle_upload()" -%><%= t('manifestation.delete_attachment') -%>
        <%= render 'manifestations/attachment_file', :manifestation => @series_statement.root_manifestation -%>
    <%- end -%>
  </div>
  <div class="field">
    <%= f_m.label t('activerecord.models.carrier_type') -%>
    <%= f_m.select(:carrier_type_id, @carrier_types.collect{|m| [m.display_name.localize, m.id]}) -%>
    <!-- TODO: Formの切り替え時に入力項目をAjaxで書き換える -->
  </div>

  <div class="field">
    <%= f_m.label t('activerecord.models.sub_carrier_type') -%>
    <%= f_m.select(:sub_carrier_type_id, @sub_carrier_types.collect{|m| [m.display_name.localize, m.id]}) -%>
  </div>

  <div class="field">
    <%= f_m.label t('activerecord.models.manifestation_type') -%>
    <%= f_m.select(:manifestation_type_id, @manifestation_types.collect{|m| [m.display_name.localize, m.id]}) -%>
  </div>

  <div class="field">
    <%= f_m.label t('activerecord.attributes.manifestation.jpn_or_foreign') %>
    <%= f_m.select :jpn_or_foreign, Manifestation::JPN_OR_FOREIGN, :include_blank => true %>
  </div>

  <div class="field">
    <%= f_m.label t('activerecord.models.frequency') -%>
    <%= f_m.select(:frequency_id, @frequencies.collect{|frequency| [frequency.display_name.localize, frequency.id]}) -%>
  </div>

  <div class="field">
    <%= f_m.label :pub_date -%>
    <%= f_m.text_field :pub_date, :class => 'date_field', :placeholder => "#{t('page.example')}: 2011, 2011-04-12"-%>
  </div>

  <div class="field">
    <%= f_m.label t('activerecord.attributes.manifestation.country_of_publication') -%>
    <%= f_m.select(:country_of_publication_id, @countries.collect{|country| [country.display_name.localize, country.id]}) -%>
  </div>

  <div class="field">
    <%= f_m.label t('activerecord.attributes.manifestation.place_of_publication') -%>
    <%= f_m.text_field :place_of_publication %>
  </div>

  <div class="field" id="language">
    <%= f_m.label t('activerecord.models.language') -%>
    <% if @series_work_has_languages.blank? %>
      <div id="LANG0">
        <%= select_tag 'language_id[0]',
            options_for_select(@languages.collect{|l| [l.display_name.localize, l.id]},
            :selected => @default_language.id ) %>
        <%= select_tag 'language_type[0]',
            options_for_select(@language_types.collect{|t| [t.display_name.localize, t.id]}) %>
        <%= button_to_function '+', 'ItemField_language.add()' -%>
      </div>
    <% else %>
      <% @series_work_has_languages.each_with_index do |whl, i| %>
        <div id="LANG<%= i.to_s %>">
          <%= select_tag 'language_id[' + i.to_s + ']',
              options_for_select(@languages.collect{|l| [l.display_name.localize, l.id]},
              :selected => whl[:language_id] ) %>
          <%= select_tag 'language_type[' + i.to_s + ']',
              options_for_select(@language_types.collect{|t| [t.display_name.localize, t.id]},
              :selected => whl[:language_type_id] ) %>
          <%= button_to_function '+', 'ItemField_language.add()' -%>
          <%= button_to_function '-', 'ItemField_language.remove(' + i.to_s + ')' if i > 0 -%>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f_m.label :edition_display_value -%>
    <%= f_m.text_field :edition_display_value, :size => '10' -%>
    <%= f_m.label :volume_number_string -%>
    <%= f_m.text_field :volume_number_string, :size => '10' -%>
    <%= f_m.label :issue_number_string -%>
    <%= f_m.text_field :issue_number_string, :size => '10' -%>
  </div>

  <div class="field">
    <%= f_m.label :price -%>
    <%= f_m.text_field :price, :class => 'resource_integer' -%>
  </div>

  <div class="field">
    <%= f_m.label :access_address -%><br />
    <%= f_m.url_field :access_address, :class => 'resource_url' -%>
  </div>

  <div class="field">
    <%= f_m.label :repository_content -%>
    <%= f_m.check_box :repository_content -%>
  </div>

  <div class="field">
    <%= f_m.label t('role.required_role') -%>
    <%= f_m.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
  </div>

  <div class="field">
    <%= f_m.label :except_recent -%>
    <%= f_m.check_box :except_recent -%>
  </div>

  <div class="field">
    <%= f_m.label :description -%><br />
    <%= f_m.text_area :description, :class => 'resource_textarea' -%>
  </div>

  <div class="field">
    <%= f_m.label :supplement -%><br />
    <%= f_m.text_area :supplement, :class => 'resource_textarea' -%>
  </div>

  <div class="field">
    <%= f_m.label :subject -%><%= t('manifestation.delim_semicolon') -%><br />
    <%= f_m.text_field :subject, :value => @subject -%>
  </div>

<!--
  <div class="field">
    <%= f_m.label t('root_manifestation.exinfo_3') %>
    <%= f_m.text_field :exinfo_3 %>
  </div>

  <div class="field">
    <%= f_m.label t('root_manifestation.exinfo_1') %>
    <%= f_m.text_field :exinfo_1 %>
  </div>

  <div class="field">
    <%= f_m.label t('root_manifestation.exinfo_2') %>
    <%= f_m.text_field :exinfo_2, :class => "resource_integer" %>
  </div>

  <div class="field">
    <%= f_m.label t('root_manifestation.exinfo_4') %>
    <%= f_m.text_field :exinfo_4, :class => "resource_integer" %>
  </div>

  <div class="field">
    <%= f_m.label t('root_manifestation.exinfo_5') %>
    <%= f_m.text_field :exinfo_5 %>
  </div>

  <div class="field">
    <%= f_m.label t('root_manifestation.exinfo_6') %>
    <%= f_m.text_field :exinfo_6, :class => "resource_integer" %>
  </div>

  <div class="field">
    <%= f_m.label t('root_manifestation.exinfo_7') %>
    <%= f_m.text_field :exinfo_7, :class => "resource_integer" %>
  </div>

  <div class="field">
    <%= f_m.label t('root_manifestation.exinfo_8') %>
    <%= f_m.text_field :exinfo_8, :class => "resource_integer" %>
  </div>
-->


  <div class="field">
    <%= f_m.label t('activerecord.attributes.manifestation.use_license_id') %><br />
    <%= f_m.select :use_license_id, @use_licenses.collect{|l| [l.agency_name, l.id]} , :include_blank => true %>
  </div>


  <div class="actions">
    <%= hidden_field_tag :agent_id, @agent.id if @agent -%>
    <%= hidden_field_tag :manifestation_id, @original_manifestation.id if @original_manifestation -%>
    <%= hidden_field_tag :creators, @creators if @creators -%>
    <%= hidden_field_tag :contributors, @contributors if @contributors -%>
    <%= hidden_field_tag :publishers, @publishers if @publishers -%>
    <%= hidden_field_tag :subjects, @subjects if @subjects -%>
    <%= f_m.submit :disable_with => t('page.wait') %>
  </div>
