<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.patron')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>
<%= form_for(:patron_merge_list, :url => patron_merge_list_path(@patron_merge_list, :mode => 'merge', :page => @patrons.current_page, :query => params[:query]), :html => { :method => :put }) do |f| -%>
  <p><strong><%= t('activerecord.models.patron_merge_list') %>&nbsp:&nbsp<%= @patron_merge_list.title -%></strong></p>
  <% unless @patron_merge_list.patron_merges.blank? %>
    <% merge_size = @patron_merge_list.patron_merges.size %>
    <%= raw t('patron_merge_list.description') if merge_size > 1 %>
    <table id="bless">
      <%- @patron_merge_list.patron_merges.each do |patron_merge| -%>
        <tr>
          <td>
            <% if merge_size > 1 %>
              <%= radio_button_tag 'selected_patron_id', patron_merge.patron.id -%>
            <% else %>
              <li>
            <% end %>
            <%= link_to patron_merge.patron.full_name, patron_merge.patron -%>
          </td>
          <td>
            <%= link_to t('page.destroy'),
                patron_merge_path(patron_merge, :patron_merge_list_id => @patron_merge_list.id, :page => @patrons.current_page, :query => params[:query]),
                :method => :delete -%>
          </td>
        </tr>
      <%- end -%>
    </table>
    <%= f.submit t('page.merge'), :confirm => t('page.merge_confirm') if merge_size > 1 %>
  <% else %>
    <p><%= t('merge_list.not_found') %></p>
  <% end %>
<% end %>
<hr size="1" width="680">
<%= form_for :patrons, :url => patron_merge_list_patrons_path(@patron_merge_list), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%- if can? :update, @patron_merge_list -%>
      <%= hidden_field_tag 'mode', 'add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
  </p>
<%- end -%>

  <table class="index">
  <tr>
    <th><%= t('activerecord.attributes.patron.full_name') -%></th>
    <th><%= t('activerecord.models.patron_type') -%></th>
    <th><%= t('activerecord.attributes.patron.date_of_birth') -%></th>
    <th id="edit_icons"></th>
  </tr>
<%- @patrons.each do |patron| -%>
  <%- if patron.user.blank? -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to patron.full_name, patron_merge_list_patron_path(@patron_merge_list, patron) -%></td>
      <td><%= patron.patron_type.display_name.localize -%></td>
      <td><%=l patron.date_of_birth if patron.date_of_birth -%></td>
      <td>
        <%- if can? :destroy, patron -%>
          <%= link_to t('page.add'),
              patron_merges_path(:patron_id => patron.id, :patron_merge_list_id => @patron_merge_list.id, :page => @patrons.current_page, :query => params[:query]),
              :method => :post unless @patron_merge_list.patrons.include?(patron) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
<%- end -%>
</table>

<%= paginate(@patrons) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), patron_merge_lists_path -%></li>
  </ul>
</div>
