<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.derivation') %><%= t('page.listing', :model => t('activerecord.models.patron')) %></h1>
<div id="content_list">
  <h2 class="resource_title">
    <p id="notice"><%= notice %></p>
    [P]
    <%= link_to patron.full_name, patron -%>
  </h2>
  <%= form_for :patrons, :url => patron_patrons_path(patron), :html => {:method => 'get'} do %>
    <p>
      <%= t('page.search_term') %>:
      <%= search_field_tag 'query', h(@query),
        {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} %>
      <% if can? :update, patron %>
        <%= render 'page/add' %>
      <% end %>
      <%= submit_tag t('page.search') %>
    </p>
  <% end %>

  <table class="index">
    <tr>
      <th><%= t('activerecord.attributes.patron.full_name') %></th>
      <th><%= t('activerecord.models.patron_type') %></th>
      <th><%= t('activerecord.attributes.patron.date_of_birth') %></th>
      <th><%= t('activerecord.models.patron_relationship_type') %></th>
      <th></th>
    </tr>

    <% @patrons.each do |p| %>
      <% if p.user.blank? %>
        <tr class="line<%= cycle("0", "1") %>">
          <td>
            <%= link_to p.full_name, p %><br />
            <%= p.full_name_transcription %>
          </td>
          <td><%= p.patron_type.display_name.localize %></td>
          <td><%= l(p.date_of_birth, :format => :only_date) if p.date_of_birth %></td>
          <td><%= patron_relationship_type_show(patron, p.id) %></td>
          <td>
            <% if can? :edit, p %>
              <% if params[:mode] == "add" %>
                <%= link_to image_tag('icons/arrow_divide.png', :size => '16x16', :alt => t('patron.add_derivation'), :title => t('patron.add_derivation')),
                    new_patron_patron_relationship_path(patron, :child_id => p.id, :page => params[:page]) unless patron.derived_patrons.include?(p) or patron.original_patrons.include?(p) or p == patron %>
              <% else %>
                <% patron_relationship = patron_relationship_anyone(patron, p.id) %>
                <%= link_to image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit'), :title => t('tooltip.edit')),
                    edit_patron_relationship_path(patron_relationship, :patron_id => patron.id, :parent_child_relationship => params[:parent_child_relationship], :patron_relationship_type => params[:patron_relationship_type], :page => params[:page]) %>
                <%= link_to image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy'), :title => t('tooltip.destroy')),
                    patron_relationship_path(patron_relationship, :patron_id => patron.id ,:parent_child_relationship => params[:parent_child_relationship], :patron_relationship_type => params[:patron_relationship_type]),
                    :confirm => t('page.are_you_sure'), :method => :delete %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= paginate(@patrons) %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <h3>
    <%= link_to h("#{t('page.total')}: #{@count[:query_result]}"),
      url_for(params.merge(:action => 'index', :library => nil, :role => nil, :patron_type => nil))  %>
  </h3>
  <% unless params[:mode] == "add" %>
    <%= render 'relationship_type_facet' if @patron.patrons.present? %>
    <br />
  <% else %>
    <% if @count[:query_result] > 0 %>
      <%= render 'patron_type_facet' %>
      <br />
    <% end %>
  <% end %>
  <ul>
    <% if can? :create, Patron %>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), patrons_path %></li>
      <li><%= link_to t('patron.add'), new_patron_path %></li>
      <li><%= link_to t('activerecord.models.patron_merge'), patron_merge_lists_path %></li>
    <% end %>
  </ul>
  <%- if can? :create, Patron -%>
    <div id="iconmenu" class="ui-corner-all">
      <strong><%= t('tooltip.icons_info') -%></strong>
      <ul>
        <% if params[:mode] == "add" %>
          <li><%= image_tag('icons/arrow_divide.png', :size => '16x16', :alt => t('patron.add_derivation'), :title => t('patron.add_derivation')) -%>:&nbsp;<%=t('patron.add_derivation')-%></li>
        <% else %>
          <li><%= image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit'), :title => t('tooltip.edit')) -%>:&nbsp;<%=t('page.edit')-%></li>
          <li><%= image_tag('icons/delete.png', :size => '16x16', :alt => t('page.destroy'), :title => t('tooltip.destroy')) -%>:&nbsp;<%=t('page.destroy')-%></li>
        <% end %>
      </ul>
    </div>
  <%- end -%>
</div>
