<div id="related">
  <ul>
    <%- if @patron.patron_aliases.exists? -%>
      <%= t('page.see') -%>
    <%- end -%>
    <%- @patron.patron_aliases.each do |patron_alias| -%>
      <li>
        <%= patron_alias.full_name -%>
        <%= '||' if patron_alias.full_name_transcription.present? && patron_alias.full_name.present? -%>
        <%= patron_alias.full_name_transcription -%>
        <%= '||' if ( patron_alias.full_name.present? || patron_alias.full_name_transcription.present? ) && patron_alias.full_name_alternative.present? -%>
        <%= patron_alias.full_name_alternative -%>
      </li>
    <%- end -%>
    <%- @patron_relationship_types.each do |patron_relationship_type| -%>
      <%- parent_name = '' %>
      <%- parents = @patron.parents.select_type_id(patron_relationship_type.id) -%>
      <%- if parents.present? -%>
        <%= parent_name = get_detail_name(patron_relationship_type, 'p') -%>
        <%- parents.each do |patron_relationship| -%>
          <li><%= link_to patron_relationship.parent.full_name, patron_relationship.parent -%></li>
        <%- end -%>
      <%- end -%>
      <%- children = @patron.children.select_type_id(patron_relationship_type.id) -%>
      <%- if children.present? -%>
        <%- child_name = get_detail_name(patron_relationship_type, 'c') -%>
        <%= child_name unless parent_name == child_name -%>
        <%- children.each do |patron_relationship| -%>
          <li><%= link_to patron_relationship.child.full_name, patron_relationship.child -%></li>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </ul>
</div>
