<script>
jQuery(function(){
  $('#user_expired_at').setCalendar({src:'/assets/calendar.png'});
})
</script>

<p id="notice"><%= notice %></p>
  <div class="input_field">
    <%=f.label :username -%>
    <%= user.username -%>
  </div>
  

  <div class="input_field">
    <div><%=f.label :email -%></div>
    <div><%= f.email_field :email, :class => 'resource_email' -%></div>
  </div>
  

  <div class="input_field">
    <div><%=f.label :current_password -%></div>
    <div><%= f.password_field :current_password, :class => 'resource_email' -%></div>
  </div>
  

  <div class="input_field">
    <div><%=f.label :password -%></div>
    <div><%= f.password_field :password, :class => 'resource_email' -%></div>
  </div>
  

  <div class="input_field">
    <div><%=f.label :password_confirmation -%></div>
    <div><%= f.password_field :password_confirmation, :class => 'resource_email' -%></div>
  </div>
  

  <div class="input_field">
    <div><%=f.label :expired_at -%></div>
    <div>
      <%- if user.expired_at -%>
        <%= l(user.expired_at, :format => :only_date) -%>
      <%- else -%>
        <%= t('activerecord.attributes.user.nil_expired_at')-%>
      <%- end -%>
    </div>
  </div>
  

<div id="right_pane_detail" class="table">
  <div class="input_field">
    <div><%=f.label t('activerecord.models.role') -%></div>
    <div><%= user.role.display_name -%></div>
  </div>
  

  <div class="input_field">
    <div><%=f.label :user_number -%></div>
    <div><%= user.user_number -%></div>
  </div>
  

  <div class="input_field">
    <div><%=f.label :department -%></div>
    <%- if SystemConfiguration.get('user_change_department') %>
      <div><%= f.select(:department_id, @departments.collect{|i| [i.display_name, i.id]}, :include_blank => true) -%></div>
    <%- else -%>
      <div><%= user.department.display_name if user.department_id -%></div>
    <%- end -%>
  </div>
  

  <div class="input_field">
    <div><%=f.label :locale -%></div>
    <div><%=f.select(:locale, @available_languages.collect{|i| [i.display_name.localize, i.iso_639_1]}) -%></div>
  </div>
  
</div>
