<script>
jQuery(function(){
  $('#user_expired_at').setCalendar({src:'/assets/calendar.png'});
})
</script>

  <div id="left_pane_detail" class="table">
    <div class="row">
      <div><%=f.label :username -%></div>
      <div><%= user.username -%></div>
    </div>

    <div class="row">
      <div><%=f.label :email -%></div>
      <div><%= f.email_field :email, :class => 'resource_email' -%></div>
    </div>

    <div class="row">
      <div><%=f.label :current_password -%></div>
      <div><%= f.password_field :current_password, :class => 'resource_email' -%></div>
    </div>

    <div class="row">
      <div><%=f.label :password -%></div>
      <div><%= f.password_field :password, :class => 'resource_email' -%></div>
    </div>

    <div class="row">
      <div><%=f.label :password_confirmation -%></div>
      <div><%= f.password_field :password_confirmation, :class => 'resource_email' -%></div>
    </div>

    <div class="row">
      <div><%=f.label :expired_at -%></div>
      <div>
        <%- if current_user.has_role?('Librarian') -%>
          <%= f.text_field :expired_at, :value => user.expired_at.try(:strftime, "%Y-%m-%d"), :class => 'date_field', :placeholder => "#{t('page.example')}: 2011-04-12"-%>
        <%- else -%>
          <%- if user.expired_at -%>
            <%= l(user.expired_at, :format => :only_date) -%>
          <%- else -%>
             <%= t('activerecord.attributes.user.nil_expired_at')-%>
          <%- end -%>
        <%- end -%>
      </div>
    </div>
 
    <%- if current_user.has_role?('Librdarian') -%>
      <div class="row">
        <div><%=f.label :unable -%></div>
        <div>
          <%- if user.check_update_own_account(current_user) -%>
            <%= f.check_box :unable, :disabled => 'disabled' -%>
          <%- else -%>
            <%= f.check_box :unable -%>
          <%- end -%>
        </div>
      </div>
    <%- end -%>
  </div>

  <div id="right_pane_detail" class="table">
    <%- if current_user.has_role?('Librarian') -%>
      <div class="row">
        <div><%=f.label t('activerecord.models.user_group') -%></div>
        <div><%=f.select2(:user_group_id, @user_groups, user.user_group_id, :select_attribute => :id, :display_attribute => :display_name) -%></div>
      </div>
    <%- end -%>

    <div class="row">
      <div><%=f.label t('activerecord.models.role') -%></div>
      <%- if current_user.has_role?('Administrator') and current_user != user -%>
        <div><%=f.select2(:role_id, @roles, user.role_id, :select_attribute => :id, :display_attribute => :display_name) -%></div>
      <% else %>
        <div><%=f.select2(:role_id, @roles, user.role_id, :select_attribute => :id, :display_attribute => :display_name, :readonly => true) -%></div>
      <% end %>
    </div>

    <div class="row">
      <div><%=f.label :user_number -%></div>
      <div><%= user.user_number -%></div>
    </div>

    <div class="row">
      <div><%=f.label :department -%></div>
      <%- if current_user.has_role?('Librarian') || SystemConfiguration.get('user_change_department') %>
        <div><%=f.select2(:department_id, @departments, user.department_id, :select_attribute => :id, :display_attribute => :display_name, :include_blank => true) -%></div>
      <%- else -%>
        <div><%=f.select2(:department_id, @departments, user.department_id, :select_attribute => :id, :display_attribute => :display_name, :include_blank => true, :readonly => true) -%></div>
      <%- end -%>
    </div>

    <%- if current_user.has_role?('Librarian') -%>
      <div class="row">
        <div><%=f.label t('activerecord.models.library') -%></div>
        <div><%=f.select2(:library_id, @libraries, user.library_id, :select_attribute => :id, :display_attribute => :display_name) -%></div>
      </div>
    <%- end -%>
    <div class="row">
      <div><%=f.label :locale -%></div>
      <div><%=f.select2(:locale, @available_languages, user.locale, :select_attribute => :iso_639_1, :display_attribute => :display_name, :post_attribute => :iso_639_1) -%></div>
    </div>
  </div>
