<script>
jQuery(function(){
  $('#user_expired_at').setCalendar({src:'/assets/calendar.png'});
})
</script>

  <div id="left_pane_detail" class="table">
    <div class="row">
      <%=f.label :username -%>
      <%= user.username -%>
    </div>
    <br />

    <div class="row">
      <div><%=f.label :email -%></div>
      <div><%= f.email_field :email, :class => 'resource_email' -%></div>
    </div>
    <br />

    <div class="row">
      <div><%=f.label :current_password -%></div>
      <div><%= f.password_field :current_password, :class => 'resource_email' -%></div>
    </div>
    <br />

    <div class="row">
      <div><%=f.label :password -%></div>
      <div><%= f.password_field :password, :class => 'resource_email' -%></div>
    </div>
    <br />

    <div class="row">
      <div><%=f.label :password_confirmation -%></div>
      <div><%= f.password_field :password_confirmation, :class => 'resource_email' -%></div>
    </div>
    <br />

    <div class="row">
      <div><%=f.label :expired_at -%></div>
      <div>
        <%- if user.expired_at -%>
          <%= l(user.expired_at, :format => :only_date) -%>
        <%- else -%>
          <%= t('activerecord.attributes.user.nil_expired_at')-%>
        <%- end -%>
      </div>
    </div>
    <br />
  </div>

  <div id="right_pane_detail" class="table">
    <div class="row">
      <div><%=f.label t('activerecord.models.role') -%></div>
      <div><%= user.role.display_name -%></div>
    </div>
    <br />

    <div class="row">
      <div><%=f.label :user_number -%></div>
      <div><%= user.user_number -%></div>
    </div>
    <br />

    <div class="row">
      <div><%=f.label :department -%></div>
      <%- if SystemConfiguration.get('user_change_department') %>
        <div><%=f.select2(:department_id, @departments, user.department_id, :select_attribute => :id, :display_attribute => :display_name, :include_blank => true) -%></div>
      <%- else -%>
        <div><%= user.department.display_name if user.department_id -%></div>
      <%- end -%>
    </div>
    <br />

    <div class="row">
      <div><%=f.label :locale -%></div>
      <div><%=f.select2(:locale, @available_languages, user.locale, :select_attribute => :iso_639_1, :display_attribute => :display_name, :post_attribute => :iso_639_1) -%></div>
    </div>
    <br />
  </div>
