<script>
  document.title = "<%= t('page.output', :model => t('activemodel.models.barcode_registration')) %>";
</script>

<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.output', :model => t('activemodel.models.barcode_registration')) %></h1>
  <div id="content_list">
    <%= simple_form_for @barcode_registration, :url => { :action => :output } do |f| %>
      <%= f.error_messages %>
      <div>
        <%= t('activemodel.attributes.barcode_registration.first_number') %>
        <%= f.text_field :first_number, :size => 25 , :maxlength => 9 %>
      </div>
      <div>
        <%= t('activemodel.attributes.barcode_registration.last_number') %>
        <%= f.text_field :last_number, :size => 25, :maxlength => 9 %>
      </div>
      <%= f.submit t('page.output_csv', :model => t('activemodel.models.barcode_registration')) %>
    <% end %>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), page_extensions_path %></li>
  </ul>
</div>
