<script>
  $(document).ready(function() { 
    $(document).ready(function() { get_date(); });
    $("#budget_term_id").change(function() { get_date(); });
    $('#budget_start_date').setCalendar({src:'/assets/calendar.png'});
    $('#budget_end_date').setCalendar({src:'/assets/calendar.png'});
    $("#budget_budget_class").change(function(){
      if($(this).val() == "usual" || $(this).val() == "revised"){
        $("#budget_class_usual").show();
        $("#budget_class_provisional").hide();
      }else{
        $("#budget_class_usual").hide();
        $("#budget_class_provisional").show();
      }
    });
   });

  function get_date() {
    var term_id = $("#budget_term_id").val();
    $.ajax({
      type: "GET",
      url: "<%= url_for(:controller => :terms, :action => :get_term) -%>",
      data: {"term_id": term_id},
      success: function(obj) {
        if (obj.success) {
          var term_date = "<span>" 
             + obj.start_at 
             + " - " 
             + obj.end_at 
             + "</span>";
          $("#budget_term_date").html(term_date);
        }
      }
    });
  }
</script>

<%= form_for(@budget) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name -%>
  </div>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select(:user_id, @users.collect{|l| [l.username, l.id]}) -%>
  </div>

  <div class="field">
    <%= f.label :budget_class %><br />
    <%= f.select(:budget_class, @budget_classes.collect{|k,v| [v, k]}) -%>
  </div>

  <div class="field">
    <%= f.label :budget_type %><br />
    <%= f.select(:budget_type_id, @budget_types.collect{|t| [t.name, t.id]}) -%>
  </div>

 <% if @budget.usual? || @budget.revised? %>
  <div id="budget_class_usual">
 <% else %>
  <div id="budget_class_usual" style="display:none;">
 <% end %>
    <div class="field">
      <%= f.label :term %><br />
      <%= f.select(:term_id, @terms.collect{|t| [t.display_name.localize, t.id]}) -%>
        &nbsp;<span id="budget_term_date"></span>
    </div>
  </div>

  <% if @budget.provisional? %>
    <div id="budget_class_provisional">
  <% else %>
    <div id="budget_class_provisional" style="display:none;">
  <% end %>
    <div class="field">
      <%= f.label :start_date %><br />
      <%= f.text_field :start_date -%>
    </div>

    <div class="field">
      <%= f.label :end_date %><br />
      <%= f.text_field :end_date -%>
    </div>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note -%>
  </div>

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount -%>
  </div>

  <div class="field">
    <%= f.label :transferred %><br />
    <%= f.text_field :transferred -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
