<%= simple_form_for(@budget_category) do |f| %>
  <%= f.error_messages %>
  <%= render 'page/required_field' %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name -%>
  </div>

  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name -%>
  </div>

  <%- unless @budget_groups.blank? -%>
    <div class="field">
      <%= f.label :group %><br />
      <%= f.select :group_id, @budget_groups.map{|g| [g.keyname, g.id]} -%>
    </div>
  <%- end -%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
