<script language="JavaScript" type="text/javascript">
  <!--
    function addItem(item_identifier) {
      var result = $.ajax({
        url: "<%= bookbinding_binding_items_path(@bookbinding, :mode => 'list') %>",
        type: 'POST',
        dataType: 'json',
        data: {binding_item: {item_identifier: item_identifier}},
        error: function() {
          $("#message").text("<%= t('binding_item.no_item_identifier') %>");
        },
        success: function(obj){
          $("#list").html(obj.result);          
        }
      });
    }
    function removeItem(url) {
      var result = $.ajax({
        url: url,
        type: 'DELETE',
        dataType: 'json',
        data: {},
        success: function(obj){
          $("#binding_items_tr_" + obj['binding_item_id']).remove();
        }
      });
    }
  // -->
</script>
<script>
$(function(){
  $('#pub_date_from').setCalendar({src:'/assets/calendar.png'});
  $('#pub_date_to').setCalendar({src:'/assets/calendar.png'});
});
</script>


<%= t('binding_item.search_items') -%>
<%= form_for :manifestations, :url => manifestations_path, :html => {:method => 'get', :remote => true} do -%>
  <p>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', nil, :class => 'search_form_short', :placeholder => t('page.search_term') -%>

    <% unless SystemConfiguration.get("manifestation.show_all") %>
      <%= check_box_tag 'all_manifestations', true, :checked => true %><%= t('advanced_search.all_manifestations') %>
    <% end %>

    <br />
    <%= advanced_search_label(:identifier) -%>:
    <%= search_field_tag 'identifier', params[:identifier] %><br />

    <%= advanced_search_label(:pub_date) -%>:
    <%= t('advanced_search.from') -%> <%= search_field_tag 'pub_date_from', params[:pub_date_from], :class => 'wide_date_text_field', :placeholder => "#{t('page.example')}: 1978, 1978-04-12" -%>
    <%= t('advanced_search.to') -%> <%= search_field_tag 'pub_date_to', params[:pub_date_to], :class => 'wide_date_text_field', :placeholder => "#{t('page.example')}: 2011, 2011-04-12"-%><br />

    <%= advanced_search_label(:edition_display_value) -%>
    <%= search_field_tag 'edition_display_value', params[:edition_display_value], :size => 8 -%>
    <%= advanced_search_label(:volume_number_string) -%>
    <%= search_field_tag 'volume_number_string', params[:volume_number_string], :size => 8 -%>
    <%= advanced_search_label(:issue_number_string) -%>
    <%= search_field_tag 'issue_number_string', params[:issue_number_string], :size => 8 -%>
    <%= advanced_search_label(:serial_number_string) -%>
    <%= search_field_tag 'serial_number_string', params[:serial_number_string], :size => 8 -%><br />

    <%= hidden_field_tag :without_article, true %>
    <%= hidden_field_tag :with_periodical_item, true %>
    <%= hidden_field_tag :per_page, 30 %>
    <%= hidden_field_tag :binding_items_flg, true %>
    <%= submit_tag t('page.search') -%><br />
  </p>
<%- end -%>
<%= javascript_tag("$('#query').focus()") -%>

<div id="result">
  <%= render :partial => "manifestation_list" %>
</div>

<br />
<div id="list">
  <%= render :partial => "binding_items_list" %>
</div>

<%= form_for(:bookbinding, :url => {:controller => 'bookbindings', :action => 'update', :id => @bookbinding.id}, :html => { :method => :put }) do |f| -%>
  <div>
    <%= f.submit t('binding_item.bind') -%>
  </div>
<%- end -%>
