<script>
jQuery(function(){
  new AutoKana('agent_last_name', 'agent_last_name_transcription', { katakana:true, toggle:false })
  new AutoKana('agent_first_name', 'agent_first_name_transcription', { katakana:true, toggle:false })

  $('#user_expired_at').setCalendar({src:'/assets/calendar.png'});
  $('#agent_birth_date').setCalendar({src:'/assets/calendar.png'});
  $('#agent_death_date').setCalendar({src:'/assets/calendar.png'});
})
</script>

<%= f.error_messages -%>
  <div id="left_pane_detail" class="table">

  <div class="row">
    <div><%=f.label :username -%><% if SystemConfiguration.get('auto_user_number') %>(<div><%=f.label :user_number %>)<%- end -%></div>
    <div>
      <%- if user.id.nil?  -%>
        <%= f.text_field :username, :class => 'resource_user' -%>
      <%- else -%>
        <%= user.username -%>
      <%- end -%>
    </div>
  </div>

  <%- if current_user.has_role?('Librarian') -%>
    <div class="row">
      <div><%=f.label :email -%></div>
      <div><%= f.email_field :email, :class => 'resource_email' -%></div>
    </div>
    <div class="row">
      <div><%=f.label :email_confirmation -%></div>
      <div><%= f.email_field :email_confirmation, :class => 'resource_email' -%></div>
    </div>

    <%- unless user == current_user -%>
      <div class="row">
        <div><%=f.label t('user.set_auto_generated_password') -%></div>
        <div><%= f.check_box :auto_generated_password -%></div>
      </div>
    <%- end -%>
  <%- end -%>

  <div class="row">
    <div><%=f.label :expired_at -%></div>
    <div>
    <%- if current_user.has_role?('Librarian') -%>
      <%= f.text_field :expired_at, :value => user.expired_at.try(:strftime, "%Y-%m-%d"), :class => 'date_field', :placeholder => "#{t('page.example')}: 2011-04-12"-%>
    <%- else -%>
      <%- if user.expired_at -%>
        <%= l(user.expired_at, :format => :only_date) -%>
      <%- else -%>
        <%= t('activerecord.attributes.user.nil_expired_at')-%>
      <%- end -%>
    <%- end -%>
    </div>
  </div>

  <%- if current_user.has_role?('Librarian') -%>
    <div class="row">
      <div><%=f.label :user_status -%></div>
      <div><%= f.select2(:user_status_id, @user_statuses, @user.user_status_id, :select_attribute => 'id', :display_attribute => 'display_name', :width => 200) -%></div>
    </div>

    <div class="row">
      <div><%=f.label :unable -%></div>
      <div>
      <%- if user.check_update_own_account(current_user) -%>
        <%= f.check_box :unable, :disabled => 'disabled' -%>
      <%- else -%>
        <%= f.check_box :unable -%>
      <%- end -%>
      </div>
    </div>
  <%- end -%>
  </div>

  <div id="right_pane_detail" class='table'>
  <%- if current_user.has_role?('Librarian') -%>
    <div class="row">
      <div><%=f.label t('activerecord.models.user_group') -%></div>
      <div><%= f.select2(:user_group_id, @user_groups, @user.user_group_id, :select_attribute => 'id', :display_attribute => 'display_name', :width => 200) -%></div>
    </div>
  <%- end -%>
    <div class="row">
      <div><%=f.label t('activerecord.models.role') -%></div>
      <div>
      <%- if current_user.has_role?('Administrator') and current_user != user -%>
        <%= f.select2(:role_id, @roles, user.try(:role).try(:id), :select_attribute => :id, :display_attribute => :display_name) -%>
      <% else %>
        <%= f.select2(:role_id, @roles, user.try(:role).try(:id), :select_attribute => :id, :display_attribute => :display_name, :readonly => true) -%>
      <% end %>
      </div>
    </div>

  <div class='row'>
    <div><%=f.label FunctionClass.model_name.human %></div>
    <div>
    <%- if current_user.has_role?('Administrator') %>
      <%= f.select2(:function_class_id, @function_classes, user.function_class_id, :select_attribute => :id, :display_attribute => :display_name) -%>
    <%- else -%>
      <%= f.select2(:function_class_id, @function_classes, user.function_class_id, :select_attribute => :id, :display_attribute => :display_name, :readonly => true) -%>
    <%- end -%>
    </div>
  </div>

<% unless SystemConfiguration.get('auto_user_number') %>
    <div class="row">
      <div><%=f.label :user_number -%></div>
      <div>
      <%- if current_user.has_role?('Librarian') -%>
        <%= f.text_field :user_number, :class => 'resource_user_number' -%>
      <%- else -%>
        <%= user.user_number -%>
      <%- end -%>
      </div>
    </div>
<% end %>

  <div class="row">
    <div><%=f.label :department -%></div>
    <%- if current_user.has_role?('Librarian') || SystemConfiguration.get('user_change_department') %>
      <%= f.select2(:department_id, @departments, user.department_id, :select_attribute => :id, :display_attribute => :display_name) -%>
    <%- else -%>
      <%= f.select2(:department_id, @departments, user.department_id, :select_attribute => :id, :display_attribute => :display_name, :readonly => true) -%>
    <%- end -%>
  </div>


  <%- if current_user.has_role?('Librarian') -%>
    <div class="row">
      <div><%= f.label t('activerecord.models.library') -%></div>
      <div><%= f.select2(:library_id, @libraries, user.library_id, :select_attribute => 'id', :display_attribute => 'display_name') -%></div>
    </div>

  <%- end -%>

    <div class="row">
      <div><%= f.label :locale -%></div>
      <div><%= f.select2(:locale, @languages, user.locale, :select_attribute => :iso_639_1, :display_attribute => :display_name, :post_attribute => :iso_639_1)%></div>
    </div>
  </div>

  <br style="clear: both;"/>

  <div class="actions">
    <%= f.submit :disable_with => t('page.wait') -%>
  </div>
