<script>
  $(document).ready(function(){
    // check full_name_alternative
    <% unless @agent.full_name_alternative.blank? %>
      if ("<%= @agent.full_name_alternative.gsub(/[　\s\t]+$/o, "").gsub(/^[　\s\t]+/o, "") -%>" != "")
        $("#full_name_alternative").show();
    <%- end -%>
    // check address2
    var input_address2 = false;
    "<%- if @agent.zip_code_2 -%>"
      if ("<%=@agent.zip_code_2.gsub(/[　\s\t]+$/o, "").gsub(/^[　\s\t]+/o, "") -%>" != "")
        input_address2 = true;
    "<%- end -%>"
    "<%- if @agent.address_2 -%>"
      if ("<%=@agent.address_2.gsub(/[　\s\t]+$/o, "").gsub(/^[　\s\t]+/o, "") -%>" != "")
        input_address2 = true;
    "<%- end -%>"
    "<%- if @agent.telephone_number_2 -%>"
      if ("<%=@agent.telephone_number_2.gsub(/[　\s\t]+$/o, "").gsub(/^[　\s\t]+/o, "") -%>" != "")
        input_address2 = true;
    "<%- end -%>"
    "<%- if @agent.extelephone_number_2 -%>"
      if ("<%=@agent.extelephone_number_2.gsub(/[　\s\t]+$/o, "").gsub(/^[　\s\t]+/o, "") -%>" != "")
        input_address2 = true;
    "<%- end -%>"
    "<%- if @agent.fax_number_2 -%>"
      if ("<%=@agent.fax_number_2.gsub(/[　\s\t]+$/o, "").gsub(/^[　\s\t]+/o, "") -%>" != "")
        input_address2 = true;
    "<%- end -%>"
    "<%- if @agent.address_2_note -%>"
      if ("<%=@agent.address_2_note.gsub(/[　\s\t]+$/o, "").gsub(/^[　\s\t]+/o, "") -%>" != "")
        input_address2 = true;
    "<%- end -%>"
    if (input_address2 == true)
      $("#address_2").show();
    // check agent_type
    if ("<%= @agent.agent_type_id -%>" == <%= @agent_type_person %>) {
      $("#name_person").show();
      $("label[for='agent_date_of_birth']").text('<%= t('activerecord.attributes.agent.date_of_birth') -%>');
      $("label[for='agent_date_of_death']").text('<%= t('activerecord.attributes.agent.date_of_death') -%>');
    } else {
      $("div.agent_full_name_note").hide();
      $("#name_person").hide();
      $("label[for='agent_date_of_birth']").text('<%= t('activerecord.attributes.agent.date_of_establishment') -%>');
      $("label[for='agent_date_of_death']").text('<%= t('activerecord.attributes.agent.date_of_dissolution') -%>');
    }
    // change agent_type
    $("select#agent_agent_type_id").change(function(){
      str = $("select#agent_agent_type_id option:selected").val();
      if (str == <%= @agent_type_person -%>) {
        $("div.agent_full_name_note").show();
        $("#name_person").show();
        $("label[for='agent_date_of_birth']").text('<%= t('activerecord.attributes.agent.date_of_birth') -%>');
        $("label[for='agent_date_of_death']").text('<%= t('activerecord.attributes.agent.date_of_death') -%>');
        $("#family_users").show();
      } else {
        $("input#agent_last_name").val("");
        $("input#agent_last_name_transcription").val("");
        $("input#agent_first_name").val("");
        $("input#agent_first_name_transcription").val("");
        $("div.agent_full_name_note").hide();
        $("#name_person").hide();
        $("label[for='agent_date_of_birth']").text('<%= t('activerecord.attributes.agent.date_of_establishment') -%>');
        $("label[for='agent_date_of_death']").text('<%= t('activerecord.attributes.agent.date_of_dissolution') -%>');
        $("#family_users").hide();
      }
    });

    // seach_family
    <%- if SystemConfiguration.get('use_family') && current_user.has_role?('Librarian') -%>
      $("#agent_telephone_number_1").change(function(){
        clear_family_search();
        search_family();
      })
      .change();
      $("#agent_last_name").change(function(){
        clear_family_search();
        search_family();
      })
      .change();
      $("#agent_address_1").change(function(){
        clear_family_search();
        search_family();
      })
      .change();
      $("#agent_agent_type_id").change(function(){
        var agent_type_id = $("#agent_agent_type_id").val();
        if (agent_type_id == 1)
          search_family();
        else
          clear_family_search();
      })
      .change();
    <%- end -%>
  });

  function search_family(){
    var tel_1 = $("#agent_telephone_number_1").val().replace(/^\s+|\s+$/g, "");
    var last_name = $("#agent_last_name").val().replace(/^\s+|\s+$/g, "");
    var address_1 = $("#agent_address_1").val().replace(/^\s+|\s+$/g, "");
    var family = "<%= @family -%>"
    var data = {"keys": {"tel_1": tel_1, "last_name": last_name, "address_1": address_1 }, "family": family, "user": "<%= @user.id -%>"};
    if ((tel_1 != "" && last_name != "" && address_1 !="") || "<%= @family -%>" != null) {
      $.ajax({
        type: "GET",
        url: "<%= url_for(:controller => :users, :action => :search_family) -%>",
        data: data, 
        success: function(obj) {
          if(obj.success){
            $('#search_family').remove();
            $('#family').append(obj.html);
            $('#search_family').show();
            $("input[name='family']").change(get_family_info);
          }
        }
      });  
      return false;
    }
  }

  function clear_family_search(){
    $('#search_family > div').remove();
    $('#search_family').hide();
  }
  function get_family_info(){
    var user_id = $("input:radio[name='family']:checked").val();
    $.ajax({
      type: "GET",
      url: "get_family_info",
      data: {"user_id": user_id},
      success: function(obj) {
        var zip_code_1 = obj["agent"]["agent"]["zip_code_1"];
        $('#agent_zip_code_1').val(zip_code_1);
      }
    });
  }
</script>

  <%- if current_user.has_role?('Librarian') -%>
    <div class="field">
      <%= f.label t('activerecord.models.agent_type') -%>
      <%= f.select(:agent_type_id, @agent_types.collect{|p| [p.display_name.localize, p.id]}) -%>
    </div>
  <%- end -%>

  <div id="family">
    <%= render :partial => "family_info"  %>
    <%= render :partial => "search_family"  %>
  </div>

  <div class="field">
    <span id="name_person">
      <%- if SystemConfiguration.get("family_name_first") == true -%>
        <%= render 'agents/form_family_name_first', :f => f -%>
      <%- else -%>
        <%= render 'agents/form_family_name_last', :f => f -%>
      <%- end -%>
    </span>
    <%= f.label :full_name -%><br />
    <div id="annotation" class="agent_full_name_note"><%= t('activerecord.attributes.agent.full_name_note') -%><br /></div>
    <%= f.text_field :full_name, :class => 'resource_title' -%><br />
    <%= f.label :full_name_transcription -%><br />
    <%= f.text_field :full_name_transcription, :class => 'resource_title' -%><br />
    <%= link_to_function t('activerecord.attributes.agent.full_name_alternative'), "$('#full_name_alternative').toggle()" -%>
    <span id="full_name_alternative" style="display: none">
      <br />
      <%= f.text_area :full_name_alternative, :class => 'resource_textarea' -%>
    </span>
  </div>

  <div class="field">
    <%= f.label :date_of_birth -%><br />
    <%= f.text_field :birth_date, :class => 'date_field' -%>
  </div>

  <div class="field">
    <%= f.label :gender -%><br />
    <%= select2(:gender_id, "agent[gender_id]", @genders, @agent.gender_id, :width => 200) %>
  </div>

  <div class="field">
    <%= f.label :grade -%><br />
    <%= select2(:grade_id, "agent[grade_id]", @grades, @agent.grade_id, :include_blank => true, :width => 200) %>
  </div>

  <% unless @user.id.blank? %>
    <%- if current_user.has_role?('Librarian') -%>
      <div class="field">
        <%= f.label :date_of_death -%><br />
        <%= f.text_field :death_date, :class => 'date_field' -%>
      </div>
    <%- else -%>
      <%- if @agent_type_person != @user.agent.agent_type.id -%>
        <div class="field">
          <%= f.label :date_of_death -%><br />
          <%= f.text_field :death_date, :class => 'date_field' -%>
        </div>
      <%- end -%>
    <%- end -%>
  <% end %>

  <div class="field">
    <%= f.label t('activerecord.models.country') -%>
    <%= f.select(:country_id, @countries.collect{|c| [c.display_name.localize, c.id]}) -%>
  </div>

  <div class="field">
    <%= f.label :url -%><br />
    <%= f.url_field :url, :class => 'resource_url' -%>
  </div>

  <div class="actions">
     <%= u_form.submit :disable_with => t('page.wait') -%>
  </div>

  <hr />

  <div id="address_1">
  <div class="field">
    <%= f.label :zip_code_1 -%><br />
    <%= f.text_field :zip_code_1, :class => 'resource_zip_code' -%>
  </div>

  <div class="field">
    <%= f.label :address_1 -%><br />
    <%= f.text_area :address_1, :class => 'resource_textarea' -%>
  </div>

  <div class="field">
    <%= f.label :telephone_number_1 -%><br />
    <%= f.phone_field :telephone_number_1, :class => 'resource_telephone_number' -%>
    <%= f.select :telephone_number_1_type_id, telephone_types, :include_blank => true -%>
  </div>

  <div class="field">
    <%= f.label :extelephone_number_1 -%><br />
    <%= f.phone_field :extelephone_number_1, :class => 'resource_telephone_number' -%>
    <%= f.select :extelephone_number_1_type_id, telephone_types, :include_blank => true -%>
  </div>

  <div class="field">
    <%= f.label :fax_number_1 -%><br />
    <%= f.phone_field :fax_number_1, :class => 'resource_telephone_number' -%>
    <%= f.select :fax_number_1_type_id, telephone_types, :include_blank => true -%>
  </div>

  <div class="field">
    <%= f.label :address_1_note -%><br />
    <%= f.text_area :address_1_note, :class => 'resource_textarea' -%>
  </div>
  <div class="field"><%= link_to_function t('agent.other_address'), "$('#address_2').toggle()" -%></div>
  </div>

  <div id="address_2" style="display: none">
  <hr />
  <div class="field">
    <%= f.label :zip_code_2 -%><br />
    <%= f.text_field :zip_code_2, :class => 'resource_zip_code' -%>
  </div>

  <div class="field">
    <%= f.label :address_2 -%><br />
    <%= f.text_area :address_2, :class => 'resource_textarea' -%>
  </div>

  <div class="field">
    <%= f.label :telephone_number_2 -%><br />
    <%= f.phone_field :telephone_number_2, :class => 'resource_telephone_number' -%>
    <%= f.select :telephone_number_2_type_id, telephone_types, :include_blank => true -%>
  </div>

  <div class="field">
    <%= f.label :extelephone_number_2 -%><br />
    <%= f.phone_field :extelephone_number_2, :class => 'resource_telephone_number' -%>
    <%= f.select :extelephone_number_2_type_id, telephone_types, :include_blank => true -%>
  </div>

  <div class="field">
    <%= f.label :fax_number_2 -%><br />
    <%= f.phone_field :fax_number_2, :class => 'resource_telephone_number' -%>
    <%= f.select :fax_number_2_type_id, telephone_types, :include_blank => true -%>
  </div>

  <div class="field">
    <%= f.label :address_2_note -%><br />
    <%= f.text_area :address_2_note, :class => 'resource_textarea' -%>
  </div>

  </div>

  <%- if current_user.has_role?('Librarian') -%>
    <hr />
    <div class="field">
      <%= f.label :note -%>
      <%- if @agent.note_update_at -%>
        &nbsp;<%= t('agent.last_update_at') -%>: <%= l(@agent.note_update_at) -%>
        <%- if @agent.note_update_by -%>
          &nbsp;<%= t('agent.last_update_by') -%>: <%= @agent.note_update_by -%>
        <%- end -%>
        <%- if @agent.note_update_library -%>
          (<%= @agent.note_update_library-%>)
        <%- end -%>
      <%- end -%>
      <br />
      <%= f.text_area :note, :class => 'resource_textarea' -%>
    </div>
  <%- end -%>

  <div class="actions">
    <%= hidden_field_tag 'work_id', @work.id if @work -%>
    <%= hidden_field_tag 'expression_id', @expression.id if @expression -%>
    <%= hidden_field_tag 'manifestation_id', @manifestation.id if @manifestation -%>
    <%= hidden_field_tag 'item_id', @item.id if @item -%>
    <%= f.hidden_field :user_username -%>
    <%= u_form.submit :disable_with => t('page.wait') -%>
  </div>

