<%-
  cols_book = Manifestation.book_output_columns
  cols_series = Manifestation.series_output_columns
  cols_article = Manifestation.article_output_columns
  cols_all = Manifestation.all_output_columns

  need_to_render_add_mode_tags = false

  methods = [:get, :post]
-%>

<script>
function BoxChecked(check){
  <% if controller.action_name == "edit" %>
    colList = $('#edit_output_column_list<%= "_"  + params[:id] %> [name=col_check]')
  <% else %>
    colList = $('#new_output_column_list [name=col_check]')
  <% end %>
  for (var i=0; i<colList.length; i++){
    if ( colList[i].disabled == false ){
      colList[i].checked = check;
    }
  }
}
function listSave(){
  list = "";
  <% if controller.action_name == "edit" %>
    colList = $('#edit_output_column_list<%= "_"  + params[:id] %> [name=col_check]')
  <% else %>
    colList = $('#new_output_column_list [name=col_check]')
  <% end %>
  for (var i=0; i<colList.length; i++){
    if ( colList[i].checked == true ){
      list = list + colList[i].id + ",";
    }
  }
  $("#output_column_list_column_list").val(list.slice(0, list.length - 1));

}

<% if controller.action_name == "edit" %>
  $(document).ready( function(){
    TemplateChecked(0);
  });

  <% output_column_list = OutputColumnList.find(params[:id]) %>
  function TemplateChecked(index){
    BoxChecked(false);
    colList = new Array();
    colList[0] = ("<%= output_column_list.column_list.to_s %>").split( ',' );
    for (var i=0; i<colList[index].length; i++){
      document.getElementById(colList[index][i]).checked = true;
    }
  }
<% end %>

$(document).ready(function(){
    // hide default columns (i.e. always enabled)
    $('#chkbox2_book_original_title').attr('disabled', 'disabled')
    $('#chkbox2_book_manifestation_type').attr('disabled', 'disabled')
    $('#chkbox2_book_creator').attr('disabled', 'disabled')
    $('#chkbox2_book_pub_date').attr('disabled', 'disabled')
    $('#chkbox2_book_publisher').attr('disabled', 'disabled')
    $('#chkbox2_article_creator').attr('disabled', 'disabled')
    $('#chkbox2_article_original_title').attr('disabled', 'disabled')
    $('#chkbox2_article_title').attr('disabled', 'disabled')
    $('#chkbox2_series_original_title').attr('disabled', 'disabled')
});
</script>

  <!-- start dialog for selecting excel columns -->
  <% if SystemConfiguration.get("manifestations.users_show_output_button") or (user_signed_in? and current_user.has_role?('Librarian')) %>
    <%= form_for(@output_column_list) do |f| %>
      <%= f.error_messages %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name -%><br />
      </div>
      <br />
      <%= button_tag t('page.output_select_all'), :onClick=>"BoxChecked(true);", :type => 'button' %>
      <%= button_tag t('page.output_cancel_all'), :onClick=>"BoxChecked(false);", :type => 'button' %><br />

      <div id='check_cols_book'>
        <br />
        <strong><%= t('page.output_excelx_dialog') %></strong><br />
        <div style="width: 33%; float: left;">
          <% cols_book[0, cols_book.length / 2].each do |x| %>
            <%= check_box_tag '', '', true, :id => "chkbox2_#{x.gsub('.','_')}", :name => "col_check" %>
            <%= ResourceImport::Sheet.field_name(x) %><br />
          <% end %>
        </div>
        <div style="width: 34%; float: left;">
          <% cols_book[cols_book.length / 2, cols_book.length - (cols_book.length / 2)].each do |x| %>
            <%= check_box_tag '', '', true, :id => "chkbox2_#{x.gsub('.','_')}", :name => "col_check" %>
            <%= ResourceImport::Sheet.field_name(x) %><br />
          <% end %>
        </div>
        <div style="width: 33%; float: left;">
          <% cols_series.each do |x| %>
            <%= check_box_tag '', '', true, :id => "chkbox2_#{x.gsub('.','_')}", :name => "col_check" %>
            <%= ResourceImport::Sheet.field_name(x) %><br />
          <% end %>
        </div>
        <br style='clear: both' />
        <div class="actions">
          <%= f.submit :disable_with => t('page.wait'), :onClick=>"listSave();" %>
        </div>
        <%= f.hidden_field :column_list%>
      </div>
    <% end %>
  <% end %>
