<%= form_for(@carrier_type) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_area :display_name %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.label :icon_filename %><br />
    <%= f.radio_button :icon_filename, nil %><%= t('carrier_type.no_icon') %>
    <% @icon_files.each do |file| %>
      <%= f.radio_button :icon_filename, file %><%= image_tag "icons/#{file}", :size => '16x16' %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
