<div class="header_and_footer">
  <%= raw SystemConfiguration.get("footer_message") %>
  <%- if SystemConfiguration.get("footer_message").blank? %>
    <a href="https://github.com/MiraitSystems/enju_trunk">Next-L Enju Trunk <%= EnjuTrunk::VERSION if defined?(EnjuTrunk::VERSION) %></a>,
    <%= t('page.open_source_integrated_library_system') -%> |
    <%= link_to t('page.about_this_system'), page_about_path -%>
  <%- end -%>
  <div id="display_form">
    <%= t('page.display_form') %>:
    <%= link_to t('page.mobile_site'), page_show_mobile_site_path %> |
    <%= t('page.pc_site') %>
  </div>
</div>
