<% if @series_statement %>
  <%= render "manifestations/index_form_series_statement_header" %>
<% end %>

<%= form_tag({:controller => 'manifestations'}, {:method => 'get'}) do -%>
<table id="advanced_search">
  <tr>
    <td><label><%= advanced_search_label(:query) -%>:</label></td>
    <td><%= search_field_tag 'query', params[:query], :class => 'search_form_short', :placeholder => t('page.search_term') -%>
        <div data-role="fieldcontain"><fiedldset data-role="controlgroup" data-type="horizontal">
          <%= advanced_search_merge_tag('query') -%>
        </div>
        <%= search_field_tag 'except_query', params[:except_query] -%><%= advanced_search_label(:except_query) %><br />
        <%= t('advanced_search.help_query') -%>
    </td>
  </tr>
  <% if defined?(EnjuBookmark) %>
    <tr class="local-only">
      <td><label><%= advanced_search_label(:tag) -%>:</label></td>
      <td><%= search_field_tag 'tag', params[:tag] -%></td>
    </tr>
  <%- end -%>

  <tr class="local-only">
    <td><nobr><label><%= advanced_search_label(:manifestation_types) -%>:</label></nobr></td>
    <td>
      <%= select_tag 'manifestation_types[]', options_for_select(@manifestation_types.map{|m| [m.display_name.localize, m.id, :selected => true]}), :class => "type_select_multiple", "data-native-menu" => "false", "multiple" => "multiple", "size" => "11" %>
    </td>
  </tr>
<tr>
</tr>
  <tr>
    <td><label><%= advanced_search_label(:title) -%>:</label></td>
    <td><%= search_field_tag 'title', params[:title] -%>
        <div data-role="fieldcontain"><fiedldset data-role="controlgroup" data-type="horizontal">
          <%= advanced_search_merge_tag('title') %>
        </fieldset></div>
        <%= search_field_tag 'except_title', params[:except_title] -%><%= advanced_search_label(:except_title) %>
    </td>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:creator) -%>:</label></td>
    <td><%= search_field_tag 'creator', params[:creator] -%>
        <div data-role="fieldcontain"><fiedldset data-role="controlgroup" data-type="horizontal">
          <%= advanced_search_merge_tag('creator') %>
        </div>
        <%= search_field_tag 'except_creator', params[:except_creator] -%><%= advanced_search_label(:except_creator) %>
    </td>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:publisher) -%>:</label></td>
    <td><%= search_field_tag 'publisher', params[:publisher] -%></td>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:isbn) -%>:</label></td>
    <td><%= search_field_tag 'isbn', params[:isbn] -%><%= t('advanced_search.help_isbn') -%></td>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:issn) -%>:</label></td>
    <td><%= search_field_tag 'issn', params[:issn] -%><%= t('advanced_search.help_issn') -%></td>
  </tr>
  <%- if SystemConfiguration.get('manifestation.use_identifiers') %>
    <tr>
      <td><nobr><label><%= advanced_search_label(:other_identifier) -%>:</label></nobr></td>
      <td>
        <%= search_field_tag 'other_identifier[identifier]', (params[:other_identifier][:identifier] rescue nil) %>
      </td>
    </tr>
  <%- end -%>
  <tr>
  <%= render :partial => 'form_classification_field' -%>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:edition_display_value) -%>:</label></td>
    <td><%= search_field_tag 'edition_display_value', params[:edition_display_value], :class => 'num_text_field' -%></td>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:volume_number_string) -%>:</label></td>
    <td><%= search_field_tag 'volume_number_string', params[:volume_number_string], :class => 'num_text_field'-%></td>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:issue_number_string) -%>:</label></td>
    <td><%= search_field_tag 'issue_number_string', params[:issue_number_string], :class => 'num_text_field' -%></td>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:serial_number_string) -%>:</label></td>
    <td><%= search_field_tag 'serial_number_string', params[:serial_number_string], :class => 'num_text_field' -%></td>
  </tr>
  <tr>
    <td><label><%= advanced_search_label(:subject_text) -%>:</label></td>
    <td>
      <%= search_field_tag 'subject_text', params[:subject_text] -%>
      <div data-role="fieldcontain"><fiedldset data-role="controlgroup" data-type="horizontal">
        <%= advanced_search_merge_tag('subject_text') %>
      </div>
    </td>
  </tr>
  <% if current_user.try(:has_role?, 'Librarian') || SystemConfiguration.get("attributes.search.user.item.item_identifier") %>
    <tr class="local-only">
      <td><label><%= advanced_search_label(:item_identifier) -%>:</label></td>
      <td><%= search_field_tag 'item_identifier', params[:item_identifier] -%></td>
    </tr>
  <% end %>
  <% if current_user.try(:has_role?, 'Librarian') || SystemConfiguration.get("attributes.search.user.manifestation.identifier") %>
    <tr class="local-only">
      <td><label><%= advanced_search_label(:identifier) -%>:</label></td>
      <td><%= search_field_tag 'identifier', params[:identifier] -%></td>
    </tr>
  <% end %>
  <tr class="local-only">
    <td><label><%= advanced_search_label(:pub_date) -%>:</label></td>
    <td><%= t('advanced_search.to') %>: <%= text_field_tag 'pub_date_from', params[:pub_date_from], :class => 'date_text_field', :placeholder => "#{t('advanced_search.from')}: 1978, 1978-04-12", :type => 'date' -%><br />
        <%= t('advanced_search.from') %>: <%= text_field_tag 'pub_date_to', params[:pub_date_to], :class => 'date_text_field', :placeholder => "#{t('advanced_search.to')}: 2011, 2011-04-12", :type => 'date' -%></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= hidden_field_tag 'advanced_search', 'true' -%>
      <%= hidden_field_tag 'user_id', params[:user_id] if params[:user_id] -%>
      <%= hidden_field_tag 'series_statement_id', params[:series_statement_id] if params[:series_statement_id] %>
      <%= submit_tag t('page.search') -%>
      <%= button_to_function t('advanced_search.clear_query'), "clear_all()" %>
    </td>
  </tr>
</table>
<%- end -%>
