<div class="row">
  <div><%= f.label :last_name -%></div>
  <div><%= f.text_field :last_name, :class => 'resource_title' -%></div>
</div>
<div class="row">
  <div><%= f.label :last_name_transcription -%></div>
  <div><%= f.text_field :last_name_transcription, :class => 'resource_title' -%></div>
</div>
<div class="row">
  <div><%= f.label :first_name -%></div>
  <div><%= f.text_field :first_name, :class => 'resource_title' -%></div>
</div>
<div class="row">
  <div><%= f.label :first_name_transcription -%></div>
  <div><%= f.text_field :first_name_transcription, :class => 'resource_title' -%></div>
</div>
