<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.agent')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>
<%= form_for(:agent_merge_list, :url => agent_merge_list_path(@agent_merge_list, :mode => 'merge', :page => @agents.current_page, :query => params[:query]), :html => { :method => :put }) do |f| -%>
  <p><strong><%= t('activerecord.models.agent_merge_list') %>&nbsp:&nbsp<%= @agent_merge_list.title -%></strong></p>
  <% unless @agent_merge_list.agent_merges.blank? %>
    <% merge_size = @agent_merge_list.agent_merges.size %>
    <%= raw t('agent_merge_list.description') if merge_size > 1 %>
    <table id="bless">
      <%- @agent_merge_list.agent_merges.each do |agent_merge| -%>
        <tr>
          <td>
            <% if merge_size > 1 %>
              <%= radio_button_tag 'selected_agent_id', agent_merge.agent.id -%>
            <% else %>
              <li>
            <% end %>
            <%= link_to agent_merge.agent.full_name, agent_merge.agent -%>
          </td>
          <td>
            <%= link_to t('page.destroy'),
                agent_merge_path(agent_merge, :agent_merge_list_id => @agent_merge_list.id, :page => @agents.current_page, :query => params[:query]),
                :method => :delete -%>
          </td>
        </tr>
      <%- end -%>
    </table>
    <%= f.submit t('page.merge'), :confirm => t('page.merge_confirm') if merge_size > 1 %>
  <% else %>
    <p><%= t('merge_list.not_found') %></p>
  <% end %>
<% end %>
<hr size="1" width="680">
<%= form_for :agents, :url => agent_merge_list_agents_path(@agent_merge_list), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>:
    <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%- if can? :update, @agent_merge_list -%>
      <%= hidden_field_tag 'mode', 'add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
  </p>
<%- end -%>

  <table class="index">
  <tr>
    <th><%= t('activerecord.attributes.agent.full_name') -%></th>
    <th><%= t('activerecord.models.agent_type') -%></th>
    <th><%= t('activerecord.attributes.agent.date_of_birth') -%></th>
    <th id="edit_icons"></th>
  </tr>
<%- @agents.each do |agent| -%>
  <%- if agent.user.blank? -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to agent.full_name, agent_merge_list_agent_path(@agent_merge_list, agent) -%></td>
      <td><%= agent.agent_type.display_name.localize -%></td>
      <td><%=l agent.date_of_birth if agent.date_of_birth -%></td>
      <td>
        <%- if can? :destroy, agent -%>
          <%= link_to t('page.add'),
              agent_merges_path(:agent_id => agent.id, :agent_merge_list_id => @agent_merge_list.id, :page => @agents.current_page, :query => params[:query]),
              :method => :post unless @agent_merge_list.agents.include?(agent) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
<%- end -%>
</table>

<%= paginate(@agents) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <h3>
    <%= link_to h("#{t('page.total')}: #{@count[:query_result]}"),
      url_for(params.merge(:action => 'index', :library => nil, :role => nil, :agent_type => nil))  %>
  </h3>
  <% if @count[:query_result] > 0 %>
    <%= render 'agent_type_facet' %>
    <br />
  <% end %>
  <ul>
    <li><%= link_to t('page.back'), agent_merge_lists_path -%></li>
  </ul>
</div>
