<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.order')) -%></h1>
<div id="content_list">

<table>
  <tr>
    <th><%= t('activerecord.attributes.order.order_identifier') -%></th>
    <th><%= t('activerecord.attributes.order.order_day') -%></th>
    <th><%= t('activerecord.attributes.order.manifestation') -%></th>
    <th></th>
   
  </tr>

<%- @orders.each do |order| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to order.order_identifier, order_path(order) %></td>
    <td><%= l(order.order_day, :format => :only_date) %></td>
    <td><%= order.manifestation.original_title %></td>
    <td>
        <%= link_to t('page.edit'), edit_order_path(order) -%>
        <%= link_to t('page.destroy'), order_path(order), :confirm => t('page.are_you_sure'), :method => :delete -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@orders) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Order -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.order')), new_order_path -%></li>
    <%- end -%>
  </ul>
</div>
