<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.order')) -%></h1>

<div id="content_list">
<% if @manifestation %>
  <%= t('activerecord.attributes.order.manifestation_identifier') %>:
  <%= @manifestation.identifier %>
<% else %>
  <%= form_tag({:action => "search"},  {:method => "get"}) do %>
    <%= t('activerecord.attributes.order.manifestation_identifier') %>:
    <%= text_field_tag :manifestation_identifier, @manifestation_selected %>

    <%= t('activerecord.attributes.order.publication_year') %>:
    <%= select('', :publication_year, @select_years, {:selected => @years_selected, :prompt => t('page.all_search_term')}) %>

    <%= submit_tag t('page.search') %>
  <% end %>
<% end %>

<br />

<div style="color: red"><%= flash[:message].to_s -%></div>
<p id="notice"><%= notice %></p>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.order.publication_year') -%></th>
    <th><%= t('activerecord.attributes.order.order_identifier') -%></th>
    <th><%= t('activerecord.attributes.order.order_day') -%></th>
    <th><%= t('activerecord.attributes.order.manifestation') -%></th>
    <th></th>
   
  </tr>

<%- @orders.each do |order| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= order.publication_year %></td>
    <td><%= link_to order.order_identifier, order_path(order) %></td>
    <td><%= l(order.order_day, :format => :only_date) %></td>
    <td><%= order.manifestation.original_title %></td>
    <td>
        <%= link_to t('page.edit'), edit_order_path(order) -%>
        <% if order.destroy? %>
          <%= link_to t('page.destroy'), order_path(order), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <% end %>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@orders) -%>

</div>
</div>

<% if @manifestation %>
  <div id="submenu" class="ui-corner-all">
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.order')), new_order_path(:manifestation_id => @manifestation) %></li>
    </ul>
  </div>
<% else %>
  <% if (@search_manifestation && @orders.size == 0) || (@years_selected && @orders.size != 0) %>
    <div id="submenu" class="ui-corner-all">
      <ul>
        <% if (@search_manifestation && @orders.size == 0) %>
          <li><%= link_to t('page.new', :model => t('activerecord.models.order')), new_order_path(:manifestation_id => @search_manifestation) -%></li>
        <% end %>
        <% if (@orders.size != 0 && @years_selected) %>
          <li><%= link_to t('order.create_subsequent_year_orders'), {:controller => 'orders', :action =>'create_subsequent_year_orders', :year => @years_selected, :manifestation_identifier => @manifestation_selected}, :confirm => t('order.create_year_orders_confirm', :year => (Date.today.year.to_i+1)) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>


