<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.new', model: t('activerecord.models.order')) -%></h1>
<div id="content_list">

<%= form_for(@order) do |f| -%>
  <%= f.error_messages -%>
  <div class="field">
    <%= f.label t('activerecord.models.order_list') -%><br />
    <%= f.select(:order_list_id, @order_lists.collect{|l| [l.title, l.id]}, {}, {include_blank: true, autofocus: true}) -%>
  </div>

  <div class="field">
    <%= f.label order_item_label(@order) -%><br />
    <%- if @item -%>
      <%= link_to @item.manifestation.original_title, @item -%>
      <%= f.hidden_field :item_id, value: @item.id -%>
    <%- else -%>
      <%= f.text_field :item_id -%>
    <%- end -%>
  </div>

  <div class="field">
    <%= f.label :purchase_order_number -%><br />
    <%= f.text_field :purchase_order_number, class: 'resource_item_identifier' -%>
    <%= t('order.order_number_auto_generate_on_blank') %>
  </div>

  <div class="field">
    <%= f.label :price_string_on_order -%><br />
    <%= f.text_field :price_string_on_order -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.back'), orders_path -%></li>
  </ul>
</div>
