<script>
  var ItemField_identifier = {
    currentNumber: <%= raw (identifiers.size).to_json %>,
    actionTemplate : ''
      + '<input type="button" value="+" onClick="ItemField_identifier.add();" /> '
      + '<input type="button" value="-" onClick="ItemField_identifier.remove(__count__);" />',
    add : function () {
      var newField = $("<div/>").attr("id", "identifiers_" + this.currentNumber).attr("class", "field");
      var cloneIdentifier = this.cloneField($("div[id ^= 'identifiers_']:first").find("input[id $= 'body']").attr('id'));
      var cloneIdentifierType = this.cloneField($("div[id ^= 'identifiers_']:first").find("select[id $= 'identifier_type_id']").attr('id'));
      var actionButton = this.actionTemplate.replace(/__count__/mg, this.currentNumber);
      newField.append(cloneIdentifier).append(cloneIdentifierType).append(actionButton);      
      cloneIdentifierType.select2();
      $('div#identifiers').append(newField);
      this.currentNumber += 1;
    },
    cloneField : function (fieldId) {
      return $('#' + fieldId).clone().attr({
          'id' : $('#' + fieldId).attr('id').replace(/_\d+_/, '_' + this.currentNumber + '_'),
          'name' : $('#' + fieldId).attr('name').replace(/\[\d+\]/, '[' + this.currentNumber + ']'),
      }).val('');
    },
    remove : function (currentNumber) {
      if ( currentNumber == 0) { return; }
      var field = $('#identifiers_' + currentNumber);
      field.append('<input name=manifestation[identifiers_attributes][' + currentNumber + '][_destroy] style="display:none" value="1" />');
      field.hide();
    }
  }
</script>
<div id="identifiers">
  <%= f.label t('activerecord.models.identifier') -%><br />
  <% identifiers.each_with_index do |identifier, index| %>
    <%= f.fields_for :identifiers, identifier do |i_f| %>
       <div class="field" id="identifiers_<%= index %>">
         <%= i_f.text_field :body %>
         <%= i_f.select2 :identifier_type_id, @identifier_types, identifier[:identifier_type_id], :select_attribute => :name, :display_attribute => :display_name %>
         <%= button_to_function '+', 'ItemField_identifier.add()' -%>
         <%= button_to_function '-', "ItemField_identifier.remove(#{index})" if index > 0 -%><br />
       </div>
    <% end %>
  <% end %>
</div>
