<script>
  var ItemField_identifier = {
    currentNumber: <%= raw (identifiers.size).to_json %>,
    actionTemplate : ''
      + '<%= button_to_function t('page.add_line'), "ItemField_identifier.add()", class: "add_margin_add" -%>'
      + '<%= button_to_function t('page.del_line'), "ItemField_identifier.remove(__count__)" -%>',
    add : function () {
      var newField = $("<div/>").attr("id", "identifiers_" + this.currentNumber);
      var cloneIdentifier = this.cloneField($("div[id ^= 'identifiers_']:first").find("input[id $= 'body']").attr('id'));
      var cloneIdentifierType = this.cloneField($("div[id ^= 'identifiers_']:first").find("select[id $= 'identifier_type_id']").attr('id'));
      var actionButton = this.actionTemplate.replace(/__count__/mg, this.currentNumber);
      newField.append(cloneIdentifierType).append(cloneIdentifier).append(actionButton);      
      cloneIdentifierType.select2();
      $('div#identifiers').append(newField);
      this.currentNumber += 1;
    },
    cloneField : function (fieldId) {
      return $('#' + fieldId).clone().attr({
          'id' : $('#' + fieldId).attr('id').replace(/_\d+_/, '_' + this.currentNumber + '_'),
          'name' : $('#' + fieldId).attr('name').replace(/\[\d+\]/, '[' + this.currentNumber + ']'),
      }).val('');
    },
    remove : function (currentNumber) {
      if ( currentNumber == 0) { return; }
      var field = $('#identifiers_' + currentNumber);
      field.append('<input name=manifestation[identifiers_attributes][' + currentNumber + '][_destroy] style="display:none" value="1" />');
      field.hide();
    }
  }
</script>

<div class="row">
  <div><%= f.label t('activerecord.models.identifier') %></div>
  <div id="identifiers">
    <% identifiers.each_with_index do |identifier, index| %>
      <div id="identifiers_<%= index %>">
        <%= f.fields_for :identifiers, identifier do |i_f| %>
          <%= i_f.select2 :identifier_type_id, 
            @identifier_types, 
            identifier[:identifier_type_id], 
            :select_attribute => :id, 
            :display_attribute => :display_name,
            :width => 200 %>
          <%= i_f.text_field :body, style: 'width:200px;' %>
          <%= button_to_function '+', 'ItemField_identifier.add()' %>
          <%= button_to_function '-', "ItemField_identifier.remove(#{index})" if index > 0 %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
