<script id="script_add_title">
  function remove_field(div_num, id_name) {
    var field = $("div#" + id_name + div_num);
    if(field != null){
      field.append('<input name=manifestation[work_has_titles_attributes][' + div_num + '][_destroy] style="display:none" value="1" />');
      field.hide();
    }
  }

  var ItemField_title = {
    currentNumber: <%= raw (@work_has_titles.size).to_json %>,
    add : function () {
      var fieldId = this.currentNumber;
      var cloneField = $('#VF0').clone().attr({
                       'id' : 'VF' + fieldId
                       });
      cloneField.children('div').remove();
      cloneField.children('input.resource_title').val('');
      cloneField.append('<input type="button" value="-" onClick="ItemField_title.remove(' + fieldId + ');" /> ');

      $('#titles').append(cloneField);
      cloneField.children('input, select').each(function(){
        if ($(this).attr('id')) {$(this).attr('id', $(this).attr('id').replace(/\d+/, fieldId));}
        if ($(this).attr('name')) {$(this).attr('name', $(this).attr('name').replace(/\d+/, fieldId));}
      });
      $("select[id $= 'title_type_id']").select2({includeBlank: false});
      this.currentNumber += 1;
    },
    remove : function (div_num) { remove_field(div_num, 'VF'); }
  };
  $(document).ready(function() {
    $("select[id $= 'title_type_id']").select2();
  });
</script>

<div class="row">
  <div><%= f.label :other_titles %></div> 
  <div id='titles'>
    <% @work_has_titles.each_with_index do |work_has_title, index| %>
      <%= f.fields_for :work_has_titles, work_has_title do |w_f| %>
        <div class="field" id="VF<%= index %>">
          <%= select2_tag("manifestation_work_has_titles_attributes_#{index}_title_type_id",
                           "manifestation[work_has_titles_attributes][#{index}][title_type_id]",
                           @title_types,
                           work_has_title.title_type_id,
                           :width => 200, :select_attribute => :id, :display_attribute => :display_name) %><br />
          <% unless work_has_title.manifestation_title %>
            <%= w_f.text_field :title, 
              :class => 'resource_title', 
              :placeholder => t('activerecord.attributes.title.title') %><br />
            <%= w_f.text_field :title_transcription, 
              :class => 'resource_title', 
              :placeholder => t('activerecord.attributes.title.title_transcription') %><br />
            <%= w_f.text_field :title_alternative, 
              :class => 'resource_title', 
              :placeholder => t('activerecord.attributes.title.title_alternative') %>
          <% else %>
            <%= w_f.text_field :title,
              :value => work_has_title.try(:manifestation_title).try(:title), 
              :class => 'resource_title',
              :placeholder => t('activerecord.attributes.title.title') %><br />
            <%= w_f.text_field :title_transcription,
              :value => work_has_title.try(:manifestation_title).try(:title_transcription), 
              :class => 'resource_title', 
              :placeholder => t('activerecord.attributes.title.title_transcription') %><br />
            <%= w_f.text_field :title_alternative,
              :value => work_has_title.try(:manifestation_title).try(:title_alternative), 
              :class => 'resource_title',
              :placeholder => t('activerecord.attributes.title.title_alternative') %>
          <% end %>
          <%= w_f.hidden_field :nested %>
          <%= button_to_function '+', 'ItemField_title.add()' %>
          <%= button_to_function '-', 'ItemField_title.remove(' + index.to_s + ')' if index > 0 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
