<script>
  var ItemFieldLanguageSelect2 = {
    currentNumber : <%= raw (@work_has_languages.size).to_json %>,
    select2Options : {
      multiple: false,
      minimumInputLength: 1,
      width: "250px",
      placeholder: <%= raw t("activerecord.models.language").to_json %>,
      formatSearching: function() {
        return <%= raw t("agent.search_searching").to_json %>;
      },
      formatInputTooShort: function(term, minLength){
        return <%= raw t("agent.search_placeholder").to_json %>;
      },
      ajax: {
        url: "/languages/search_name.json",
        dataType: 'json',
        data: function (term, page) {
            return {search_phrase: term
            };
        },
        results: function (data, page) {
            return {results: data};
        },
      },
      initSelection: function(element, callback) {
        var id = $(element).val();
        if (id != "" && id == parseInt(id)) {
          $.ajax("/languages/search_name.json?language_id=" + id, {
              dataType: "json"
          }).done(function(data) { callback(data); });
        }
        else{
          callback({ id: id, text: id });
        }
      },
    },
    actionTemplate : ''
      + '<td><%= button_to_function t('page.add_line'), "ItemFieldLanguageSelect2.add()" -%></td>'
      + '<td><%= button_to_function t('page.del_line'), "ItemFieldLanguageSelect2.remove(__count__)" -%>',
    add : function () {
      var newField = $("<tr/>").attr("id", "LANG" + this.currentNumber);
      
      var cloneLanguageId = $("tr[id ^= 'LANG']:first").find("input[id $= 'language_id']").attr('id');;
      var cloneLanguageTypeId = $("tr[id ^= 'LANG']:first").find("select[id $= 'language_type_id']").attr('id');;
      var cloneDummyId = $("tr[id ^= 'LANG']:first").find("input[id $= 'nested']").attr('id');;
      var cloneLanguage = this.cloneField(cloneLanguageId);
      var cloneLanguageType = this.cloneField(cloneLanguageTypeId);
      var cloneDummy = this.cloneField(cloneDummyId);

      var td1 = $("<td/>").append(cloneLanguage);
      var td2 = $("<td/>").append(cloneLanguageType);
      var actionButton = this.actionTemplate.replace(/__count__/mg, this.currentNumber);

      newField.append(td1).append(td2).append(cloneDummy).append(actionButton);
      
      cloneLanguage.select2(this.select2Options);
      cloneLanguageType.select2();
      
      $("#languages > table > tbody").append(newField);

      this.currentNumber += 1;
    },
    cloneField : function (fieldId) {
      return $('#' + fieldId).clone().attr({
          'id' : $('#' + fieldId).attr('id').replace(/_\d+_/, '_' + this.currentNumber + '_'),
          'name' : $('#' + fieldId).attr('name').replace(/\[\d+\]/, '[' + this.currentNumber + ']'),
      }).val('');
    },
    remove : function (trNum) {
      var field = $("#LANG" + trNum);
      if(field != null){
        field.append('<input name=manifestation[work_has_languages_attributes][' + trNum + '][_destroy] style="display:none" value="1" />');
        field.hide();
      }       
    }
  }

  $(document).ready(function() {
    $('.language').select2(ItemFieldLanguageSelect2.select2Options);
    $("select[name$='[language_type_id]']").select2();
  });

</script>

<div class="field" id="languages">
  <%= f.label t('activerecord.models.language') -%><br />
  <table id="bless">
    <%- @work_has_languages.each_with_index do |work_has_language, index| %>
      <%= f.fields_for :work_has_languages, work_has_language do |w_f| %>
        <tr id="LANG<%= index %>">
          <td><%= text_field_tag "manifestation[work_has_languages_attributes][#{index}][language_id]", work_has_language[:language_id], :id => "manifestation_work_has_languages_attributes_#{index}_language_id", :class => "language" %></td>
          <td><%= w_f.select2 :language_type_id, @language_types, work_has_language.language_type_id, :select_attribute => :name, :display_attribute => :display_name %>
          <%= w_f.hidden_field :nested, :value => 1 %></td>
          <td><%= button_to_function t('page.add_line'), "ItemFieldLanguageSelect2.add()" -%></td>
          <td><%= button_to_function t('page.del_line'), "ItemFieldLanguageSelect2.remove(#{index})" if index > 0 -%></td>
        </tr>
      <%- end -%>
    <%- end -%>
   </table>
</div>
