<script>
  var ItemFieldLanguageSelect2 = {
    currentNumber : <%= raw (@work_has_languages.size).to_json %>,
    select2Options : {
      multiple: false,
      minimumInputLength: 1,
      width: "200px",
      formatSearching: function() {
        return <%= raw t("agent.search_searching").to_json %>;
      },
      formatInputTooShort: function(term, minLength){
        return <%= raw t("agent.search_placeholder").to_json %>;
      },
      ajax: {
        url: "/languages/search_name.json",
        dataType: 'json',
        data: function (term, page) {
            return {search_phrase: term
            };
        },
        results: function (data, page) {
            return {results: data};
        },
      },
      initSelection: function(element, callback) {
        var id = $(element).val();
        console.log(id);
        if (id != "" && id == parseInt(id)) {
          console.log('language_id');
          $.ajax("/languages/search_name.json?language_id=" + id, {
              dataType: "json"
          }).done(function(data) {callback(data); });
        } else {
          console.log('unknown');
          $.ajax("/languages/search_name.json", {
            dataType: 'json',
            data: {search_phrase: 'unknown'}
          }).done(function(data) {callback(data)});
        }
      },
    },
    actionTemplate : ''
      + '<%= button_to_function t('page.add_line'), "ItemFieldLanguageSelect2.add()" %>'
      + '<%= button_to_function t('page.del_line'), "ItemFieldLanguageSelect2.remove(__count__)" %>',
    add : function () {
      var newField = $("<div/>").attr("id", "LANG" + this.currentNumber).attr('class', 'row2');
      var cloneLanguageId = $("div[id ^= 'LANG']:first").find("input[id $= 'language_id']").attr('id');;
      var cloneLanguageTypeId = $("div[id ^= 'LANG']:first").find("select[id $= 'language_type_id']").attr('id');;
      var cloneDummyId = $("div[id ^= 'LANG']:first").find("input[id $= 'nested']").attr('id');;
      var cloneLanguage = this.cloneField(cloneLanguageId);
      var cloneLanguageType = this.cloneField(cloneLanguageTypeId);
      var cloneDummy = this.cloneField(cloneDummyId).val('1');

      var actionButton = this.actionTemplate.replace(/__count__/mg, this.currentNumber);

      newField.append(cloneLanguageType).append(cloneLanguage).append(cloneDummy).append(actionButton);
      
      cloneLanguage.select2(this.select2Options).select2('val',[]);
      cloneLanguageType.select2();
      
      $("#languages").append(newField);

      this.currentNumber += 1;
    },
    cloneField : function (fieldId) {
      return $('#' + fieldId).clone().attr({
          'id' : $('#' + fieldId).attr('id').replace(/_\d+_/, '_' + this.currentNumber + '_'),
          'name' : $('#' + fieldId).attr('name').replace(/\[\d+\]/, '[' + this.currentNumber + ']'),
      }).val('');
    },
    remove : function (trNum) {
      var field = $("#LANG" + trNum);
      if($("div:visible[id ^= 'LANG']").length == 1) this.add();
      if(field != null){
        field.append('<input name=manifestation[work_has_languages_attributes][' + trNum + '][_destroy] style="display:none" value="1" />');
        field.hide();
      } 
    }
  }

  $(document).ready(function() {
    $("input[id $= 'language_id']").select2(ItemFieldLanguageSelect2.select2Options);
  });

</script>

<div class="row">
  <div><%= f.label t('activerecord.models.language'), :required => true %></div>
  <div id="languages">
    <% @work_has_languages.each_with_index do |work_has_language, index| %>
      <%= f.fields_for :work_has_languages, work_has_language do |w_f| %>
        <div id="LANG<%= index %>" class='row2'>
           <%= select2_tag "manifestation_work_has_languages_attributes_#{index}_language_type_id", 
                          "manifestation[work_has_languages_attributes][#{index}][language_type_id]",
                          @language_types, 
                          work_has_language.language_type_id, 
                          :select_attribute => :name, 
                          :display_attribute => :display_name, 
                          :width => 200 %>
           <%= text_field_tag "manifestation[work_has_languages_attributes][#{index}][language_id]", 
            work_has_language[:language_id], 
            :id => "manifestation_work_has_languages_attributes_#{index}_language_id", 
            :class => "language" %>
           <%= w_f.hidden_field :nested, :value => 1 %>
           <%= button_to_function t('page.add_line'), "ItemFieldLanguageSelect2.add()" %>
           <%= button_to_function t('page.del_line'), "ItemFieldLanguageSelect2.remove(#{index})" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
