  <%= embed_content(manifestation) -%>
  <% if manifestation.bookbinder %>
    <td><%= t('bookbinding.status') -%>:</td>
    <td><%= t('bookbinding.binder') -%> (<%= link_to t('bookbinding.binding_items'), {:controller => 'manifestations', :action => 'index', :bookbinder_id => @binder.id} %>)</td>
  <% end %>
  <%- if manifestation.series_statement -%>
    <% unless manifestation.periodical_master %>
      <td style="width: 200px"><%= t('manifestation.series_statement') -%>:</td>
      <td style="width: 490px">
      <% if @manifestation.series_statement.periodical %>
        [<%= t('manifestation.serial') -%>]
      <% end %>
      <%= link_to manifestation.series_statement.original_title, manifestation.series_statement -%>

      <% unless manifestation.article? %>
        <% if manifestation.series_statement.last_issues.include?(manifestation) %>
          <%= t('manifestation.new_serial') -%>
        <%- end -%>
      <% end %>
      <%- if manifestation.issn.present? -%>
        (<%= t('activerecord.attributes.manifestation.issn') -%>: <%= manifestation.issn -%>)
      <%- end -%>
      </td>
    <% end %>
  <% end %>
  <hr>

  <div>
    <% manifestation.work_has_titles.each do |title| %>
      <td><%= t('activerecord.models.title') %> <%= title.title_type.display_name.localize  if title.title_type %>:</td>
      <td><%= title.manifestation_title.title  if title.manifestation_title%></td>
    <% end %>
  </div>
  <div>
    <% if manifestation.article? %>
      <td><%= t('activerecord.attributes.manifestation.article_title') %></td>
      <td><%= manifestation.article_title %></td>
    <% end %>
    <td><%= t('page.number') -%>:</td>
    <td>
      <%- if manifestation.edition_display_value? -%>
        <%= t('activerecord.attributes.manifestation.edition_display_value') -%>: <%= manifestation.edition_display_value -%>
      <%- end -%>
      <%- unless manifestation.volume_number_string.blank? -%>
        <%= t('activerecord.attributes.manifestation.volume_number_string') -%>: <%= manifestation.volume_number_string -%>
      <%- end -%>
      <%- unless SystemConfiguration.get("manifestation.volume_number_string_only") -%>
        <%- unless manifestation.issue_number_string.blank? -%>
          <%= t('manifestation.issue_number') -%>: <%= manifestation.issue_number_string -%>
        <%- end -%>
        <%- if manifestation.series_statement -%>
          <%- unless manifestation.serial_number_string.blank? -%>
            <%= t('manifestation.serial_number') -%>: <%= manifestation.serial_number_string -%>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    </td>
  </div>
  <div>
    <td style="width: 200px"><%= t('page.form') -%>:</td>
    <td style="width: 500px">
      <%= form_icon(manifestation.carrier_type) -%> <%= manifestation.carrier_type.display_name.localize -%>
    </td>
  </div>
  <div>
    <td><%= t('activerecord.models.manifestation_type') %>:</td>
    <td><span><%= manifestation.manifestation_type.display_name.localize if manifestation.manifestation_type %></span></td>
  </div>
  <div>
    <td><%= t('activerecord.attributes.manifestation.jpn_or_foreign') %>:</td>
    <td>
      <% Manifestation::JPN_OR_FOREIGN.each do |jpn_or_foreign| %>
        <%= jpn_or_foreign.name if jpn_or_foreign.id == manifestation.jpn_or_foreign %>
      <% end %>
    </td>
  </div>
  <div>
    <td><%= t('activerecord.models.language') -%>:</td>
    <td><span itemprop="inLanguage"><%= display_work_has_languages(manifestation) %></span></td>
  </div>
  <div>
    <td><%= t('activerecord.attributes.manifestation.country_of_publication') -%>:</td>
    <td><%= manifestation.country_of_publication.display_name.localize if manifestation.country_of_publication_id -%></td>
  </div>
  <div>
    <td><%= t('activerecord.attributes.manifestation.place_of_publication') -%>:</td>
    <td><%= manifestation.place_of_publication -%></td>
  </div>
  <div>
    <%unless manifestation.periodical_master %>
      <td><%= t('manifestation.physical_description') -%>:</td>
      <td>
        <%- if manifestation.number_of_pages -%>
          <span itemprop="numPages"><%= manifestation.number_of_pages -%></span> p.
        <%- end -%>
        <%= manifestation_page(manifestation) %>
        <!-- TODO: センチメートル以外の単位 -->
        <%- if manifestation.height -%>
          <%= manifestation.height -%> cm.
        <%- end -%>
      </td>
    <% end %>
  </div>
  <div>
    <% if manifestation.price.present? %>
      <td><%= t('activerecord.attributes.manifestation.price') -%>:</td>
      <td><%= manifestation.price -%></td>
    <% end %>
  </div>
  <div>
    <%- unless manifestation.subjects.empty? -%>
      <td><%= t('activerecord.models.subject') -%>:</td>
      <td>
        <%- manifestation.subjects.each do |subject| -%>
          <%= link_to subject.term, subject_works_path(subject) -%>
        <%- end -%>
      </td>
    <%- end -%>
  </div>
  <div>
    <% if defined?(EnjuTrunkTheme) %>
      <td><%= t('activerecord.models.theme') %>:</td>
      <td>
        <% manifestation.themes.each do |theme| %>
          <%= theme.name if theme.publish == 0 %>
        <% end %>
      </td>
    <% end %>

    <% unless manifestation.periodical_master %>
      <%- unless manifestation.serial? -%>
        <td><%= t('activerecord.models.identifier') -%>:</td>
        <td>
          <%- if manifestation.isbn.present? -%>
            ISBN: <span itemprop="isbn"><%= manifestation.isbn -%></span>
            <%- if manifestation.isbn10.present? -%>
              ( <%= manifestation.isbn10 -%> )
            <%- end -%>
          <%- end -%>
          <%- if manifestation.nbn.present? -%>
            NBN: <%= manifestation.nbn -%>
          <%- end -%>
          <%- if manifestation.lccn.present? -%>
            <br />
            LCCN: <%= manifestation.lccn -%>
          <%- end -%>
          <%- if manifestation.ndc.present? -%>
            <br />
            NDC: <%= manifestation.ndc -%>
          <%- end -%>
          <%- if SystemConfiguration.get('manifestation.use_identifiers') %>
            <%- manifestation.identifiers.each do |identifier| -%> 
              <%= identifier.identifier_type.display_name.localize %>: <%= identifier.body %><br />
            <%- end -%> 
          <%- end -%> 
        </td>
      <%- end -%>
    <% end %>
  </div>

  <% unless manifestation.periodical_master %>
    <div>
      <td><%= t('manifestation.date_of_acquisition') -%>:</td>
      <td><%=l manifestation.created_at if manifestation.created_at -%></td>
    </div>
    <div>
      <td><%= t('page.updated_at') -%>:</td>
      <td><%=l manifestation.updated_at if manifestation.updated_at -%></td>
    </div>
  <% end %>

  <% if manifestation.description.present? %>
    <td><%= t('activerecord.attributes.manifestation.description') -%>:</td>
    <td><%= simple_format(hbr(manifestation.description)) %></td>
  <% end %>
  <% if manifestation.supplement.present? %>
    <td><%= t('activerecord.attributes.manifestation.supplement') -%>:</td>
    <td><%= simple_format(hbr(manifestation.supplement)) %></td>
  <% end %>
  <% unless manifestation.periodical_master %>
    <% if manifestation.note.present? %>
      <td><%= t('activerecord.attributes.manifestation.note') -%>:</td>
      <td><%= simple_format(hbr(manifestation.note)) %></td>
    <% end %>
  <% end %>

<%# - if manifestation.items.on_shelf.exists? -%>
<%= render 'manifestations/show_holding', :manifestation => manifestation -%>
<%= render 'page/footer' %>
