  <ul>
    <li><%= link_to t('activerecord.models.approval'), @series_statement.try(:root_manifestation).try(:approval) ? @series_statement.root_manifestation.approval : new_approval_path(:manifestation_id => @series_statement.root_manifestation) %> </li>
    <% if can? :create, Manifestation %>
      <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation')), new_series_statement_manifestation_path(@series_statement) %></li>
      <li><%= link_to t('page.copy'), new_series_statement_path(:series_statement_id => @series_statement) -%></li>
    <% end %>
    <% if can? :update, @series_statement %>
      <li><%= link_to t('page.edit'), edit_series_statement_path(@series_statement) %></li>
      <li>
        <% if @series_statement.relationship_family %>
          <%= link_to t('page.edit_series_statement_relationship'), @series_statement.relationship_family %>
        <% else %>
          <%= link_to t('page.edit_series_statement_relationship'), relationship_families_path(:add => true) %>
        <% end %>
      </li>
    <% end %>
    <% if can? :destroy, @series_statement %>
       <li><%= link_to t('page.destroy'), @series_statement, :confirm => t('page.are_you_sure'), :method => :delete %></li>
    <% end %>
    <% if @series_statement.root_manifestation %>
      <%- unless @series_statement.root_manifestation.bookbinder -%>
        <% unless SystemConfiguration.get("manifestation.has_one_item") %>
          <li><%= link_to t('manifestation.edit_item'), manifestation_items_path(@series_statement.root_manifestation) -%></li>
        <% end %>
      <%- end -%>
      <li><%= link_to t('activerecord.models.order'), manifestation_orders_path(@series_statement.root_manifestation) %></li>
    <% end %>
  </ul>
  <br>
  <% if SystemConfiguration.get('nacsis.can_use') && user_signed_in? && current_user.has_role?('Librarian') %>
    <%- if @series_statement.periodical %>
      <%- submit_display_str = t('external_catalog.nacsis') + t('page.nacsis_serial') + t('resource_import_textfile.book') + ' ' %>
      <%- option_hash = {:confirm => t('page.roles_confirm')} %>
      <%= form_tag upload_to_nacsis_manifestations_path, method: 'post' do %>
        <%= hidden_field_tag 'work_id', @series_statement.id %>
        <%= hidden_field_tag 'db_type', 'SERIAL' %>
        <%- if @series_statement.nacsis_series_statementid -%>
          <%- submit_display_str += t('page.update') %>
          <%= hidden_field_tag 'command', 'update' %>
        <%- else %>
          <%- submit_display_str += t('page.create') %>
          <%= hidden_field_tag 'command', 'insert' %>
        <%- end %>
        <%= "　" %>
        <%= submit_tag submit_display_str, option_hash %>
      <%- end %>
    <%- else %>
      <% if @series_statement.root_manifestation %>
        <%- submit_display_str = t('external_catalog.nacsis') + t('page.nacsis_book') + t('resource_import_textfile.book') + ' ' %>
        <%- option_hash = {:confirm => t('page.roles_confirm')} %>
        <%= form_tag upload_to_nacsis_manifestations_path, method: 'post' do %>
          <%= hidden_field_tag 'work_id', @series_statement.root_manifestation.id %>
          <%= hidden_field_tag 'db_type', 'BOOK' %>
          <%= hidden_field_tag 'series_id', @series_statement.id %>
          <%- if @series_statement.nacsis_series_statementid -%>
            <%- submit_display_str += t('page.update') %>
            <%= hidden_field_tag 'command', 'update' %>
          <%- else %>
            <%- submit_display_str += t('page.create') %>
            <%= hidden_field_tag 'command', 'insert' %>
          <%- end %>
          <%= "　" %>
          <%= submit_tag submit_display_str, option_hash %>
        <%- end %>
      <%- end %>
    <%- end %>
    <br>
  <% end %>
