<% if @series_statement %>
  <h3>
    <%= @series_statement.original_title %>
  </h3>
<% end %>
<div data-role="content">
  <div data-role="fieldcontain">
    <%= t('page.number_of_search_results', :count => @count[:query_result]) -%>
    <%= form_for :manifestations, :html => {:method => 'get'} do -%>
      <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%= submit_tag t('page.research') -%>
    <% end %>
    <%= link_to_advanced_search(nil, 'link') -%>
  </div>
</div>
<hr>

<%= paginate(@manifestations) %>

<br>
<ul data-role="listview">
  <% @manifestations.each do |manifestation| %>
    <li>
      <%= link_to manifestation do %>
        <%= manifestation.original_title %>
        <div style="white-space: normal;">
          <%= render 'manifestations/show_creators', :manifestation => manifestation -%>
        </div>
        <% manifestation_type = ManifestationType.where(:id => manifestation.manifestation_type_id).select([:display_name]).first %>
        <%#= manifestation_type.display_name.localize %>
        <%= render 'manifestations/holding', :manifestation => manifestation %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate(@manifestations) %>
