<%= render 'page/header' %>

<div data-role="header">
  <h1 class="title"><%= t('page.search_result') -%></h1>
</div>
<div data-role="content">
  <div data-role="fieldcontain">
    <%= t('page.number_of_search_results', :count => @count[:query_result]) -%>
    <%= form_for :manifestations, :html => {:method => 'get'} do -%>
      <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%= submit_tag t('page.research') -%>
    <% end %>
  </div>
</div>
<hr>

<%= paginate(@manifestations) %>

<br>
<ol data-role="listview">
  <% @manifestations.each do |manifestation| %>
    <li>
      <%= link_to manifestation do %>
        <%= manifestation.original_title %>
        <div id="creator_list_<%= manifestation.id -%>">
          <%= render 'manifestations/show_creators', :manifestation => manifestation -%>
        </div>
        <% manifestation_type = ManifestationType.where(:id => manifestation.manifestation_type_id).select([:display_name]).first %>
        <%= manifestation_type.display_name.localize %>
      <% end %>
    </li>
  <% end %>
</ol>

<%= paginate(@manifestations) %>

<hr>
<%= render 'page/footer' %>
