<script>
<!--
  $(document).ready(function() {
    $('#sort_plan').change(function() {
      url = "<%= url_for(:controller => :manifestations,:action => :index) %>";

      var sort_plan = $('#sort_plan').val();
      url += "?sort_plan=" + sort_plan;

      var parameter = location.search;
      parameter = parameter.substring(1, parameter.length);
      parameter = decodeURIComponent(parameter);
      parameters = parameter.split('&');
      var fix_parameter = "";
      for(var i = 0; i < parameters.length; i++) {
        if (!parameters[i].match(/^sort_plan=|^page=/))
          fix_parameter += "&" + parameters[i];
      }
      if (fix_parameter != null)
        url += fix_parameter;

      location.href = url;
    });
  });
-->
</script>

<% if @series_statement %>
  <h3>
    <%= @series_statement.original_title %>
  </h3>
<% end %>
<div data-role="content">
  <div data-role="fieldcontain">
    <%= t('page.number_of_search_results', :count => @count[:query_result]) -%>
    <%= form_for :manifestations, :html => {:method => 'get'} do -%>
      <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%= hidden_field_tag 'mode', params[:mode] if params[:mode] -%>
      <%= submit_tag t('page.research') -%>
    <% end %>
    <%= link_to_advanced_search(nil, 'link') -%>
    <% if @series_statement -%>
      <%= link_to t('page.normal_search'), manifestations_path %>
    <% end %>
    <%= link_to_normal_search -%>
  </div>
  <%= advanced_search_condition_summary -%>
</div>
<hr>

<div style="float: left;">
  <%= paginate(@manifestations) %>
</div>

<div>
  <div style="float: right;">
    <%= select_tag("sort_plan", options_for_select(@sort_plan, :selected => @sort_plan_id)) %>
  </div>
  <br style="clear: both;"/>
</div>

<ul data-role="listview">
  <% @manifestations.each do |manifestation| %>
    <% cache ([manifestation, fragment: 'manifestation_mobile', role: current_user_role_name, locale: @locale]) do %>
      <li class="list_column">
        <%= Time.now %>
        <%= link_to manifestation do %>
          <%= manifestation.original_title %>
          <div style="white-space: normal;">
            <%= render 'manifestations/show_creators', :manifestation => manifestation -%>
          </div>
          <% manifestation_type = ManifestationType.where(:id => manifestation.manifestation_type_id).select([:display_name]).first %>
          <%#= manifestation_type.display_name.localize %>
          <%= render 'manifestations/holding', :manifestation => manifestation %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<br>

<%= paginate(@manifestations) %>
