<%= render 'page/header' %>

<div data-role="header">
  <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" class="ui-btn-left"><%= t('page.back') %></a>
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.resource')) -%></h1>
</div>
<div data-role="content">
  <%= render 'title', :manifestation => @manifestation %>
  <%= render 'manifestations/show_detail_user', :manifestation => @manifestation %>
</div>
