<%= render 'manifestations/google_book_thumbnail_script' %>

<h2 class="title"><%= t('page.best_request') -%></h2>
<%= link_to t('page.best_reader'), manifestation_exstats_bestreader_path, "data-role" => "none", "data-ajax" => "false" -%>

<div class="input_field">
  <%= t('page.aggregation_period') %>:<%= h(@start_d) -%> ～ <%= h(@end_d) -%> <br />
</div>

<br />
<ul data-role="listview">
  <%- if @ranks -%>
  <%- @ranks.each_with_index do |r, i| -%>
    <li>
      <%= link_to r.manifestation do %>
        <div class="thumbnail">
          <%= render 'manifestations/google_book_thumbnail', :manifestation => r.manifestation, :index => i %>
        </div>
        <div class="count_field"><%= t('page.reserve_count') -%>: <%= @reserves[i].cnt if @reserves[i] -%></div>

        <div class="best_list">
          <%= r.rank %>. <%= r.manifestation.original_title %>
          <div class="list_detail">
            <div style="white-space: normal;">
              <%= render 'manifestations/show_creators', :manifestation => r.manifestation -%>
            </div>
          </div>
        </div>
      <%- end -%>
    </li>
  <% end %>
  <% end %>
</ul>
