<h2 class="title"><%= t('page.best_request') -%></h2>
<%= link_to t('page.best_reader'), manifestation_exstats_bestreader_path -%>

<div class="input_field">
  <%= t('page.aggregation_period') %>:<%= h(@start_d) -%> ～ <%= h(@end_d) -%> <br />
</div>

<br />
<ul data-role="listview">
  <%- if @ranks -%>
  <%- @ranks.each_with_index do |r, i| -%>
    <li>
      <%= link_to r.manifestation do %>
        <div>
          <%= render 'manifestations/book_jacket', :manifestation => r.manifestation -%>
          <%= t('page.checkout_count') -%>: <%= @reserves[i].cnt if @reserves[i] -%>
        </div>

        <div>
          <%= r.rank %>. <%= r.manifestation.original_title %>
          <div class="list_detail">
            <div style="white-space: normal;">
              <%= render 'manifestations/show_creators', :manifestation => r.manifestation -%>
            </div>
            <%- if SystemConfiguration.get('item.use_different_identifier') %>
              <div>
                <%= t('activerecord.attributes.item.identifier') %>: <%= r.item.identifier %>
              </div>
            <%- end -%>
          </div>
        </div>
      <%- end -%>
    </li>
  <% end %>
  <% end %>
</ul>
