<%= render 'manifestations/google_book_thumbnail_script' %>

<h2 class="title"><%= t('page.best_reader') -%></h2>
<%= link_to t('page.best_request'), manifestation_exstats_bestrequest_path -%>

<div class="input_field">
  <%= t('page.aggregation_period') %>:<%= h(@start_d) -%> ～ <%= h(@end_d) -%> <br />
</div>

<br />
<ul data-role="listview">
  <%- if @ranks -%>
  <%- @ranks.each_with_index do |r, i| -%>
    <li>
      <%= link_to r.manifestation do %>
        <%= render 'manifestations/google_book_thumbnail', :manifestation => r.manifestation, :index => i %>
        <%= t('page.checkout_count') -%>: <%= @checkouts[i].cnt if @checkouts[i] -%>

        <div>
          <%= r.rank %>. <%= r.manifestation.original_title %>
          <div class="list_detail">
            <div style="white-space: normal;">
              <%= render 'manifestations/show_creators', :manifestation => r.manifestation -%>
            </div>
          </div>
        </div>
      <%- end -%>
    </li>
  <% end %>
  <% end %>
</ul>
