<table class="index">
  <tr>
    <th><nobr><%= t('activerecord.models.manifestation_type') %></nobr></th>
    <th><%= t('totaling_report.shelving_location') %></th>
    <th><%= t('totaling_report.number_of_books') %></th>
    <th><%= t('totaling_report.subtotal') %></th>
  </tr>
  <% subtotal_count = 0 %>
  <% @list.each_with_index do |data, i| %>
    <tr>
      <th><%= data[0] %></th>
      <%# TODO 図書館の表示方法 %>
      <th>
        <% unless data[1].nil? %>
          <%= data[1] %>:
        <% end %>
        <%= data[2] %>
      </th>
      <th><%= data[3] %></th>
      <% if i % @number_of_shelves == @number_of_shelves - 1 %>
        <th><%= @subtotal[subtotal_count] %></th>
        <% subtotal_count += 1 %>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th><%= t('totaling_report.total') %></th>
    <th></th>
    <th><%= @total %></th>
    <th></th>
  </tr>
</table>
