<%- if manifestation -%>
  <%= render 'manifestations/title', :manifestation => manifestation -%>
<%- end -%>

<%#= render 'page/required_field' %>
<%= simple_form_for(@item) do |f| -%>
  <%= f.error_messages -%>
  <%= f.hidden_field :manifestation_id %>

  <div class="field">
    <%= f.label t('activerecord.models.library') -%><strong> / <%= t('activerecord.models.shelf') -%></strong><br />
    <%= select2_tag("item_library_id", "item[library_id]", libraries, @item.library_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 250) %>
    <%- if @shelf_categories %>
      <%= select2_tag :shelf_category, options_for_select(@shelf_categories.map{|c|[i18n_shelf_category(c),c]}), {:include_blank => ''} %>
      <%= f.select2 :shelf_id, @shelves, @item.shelf_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 300, :selected => @item.shelf_id %>
    <%- else -%>
      <%= f.select2(:shelf_id, @shelves, @item.shelf_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 300) %>
    <%- end -%>
    <%= render 'observe_field' %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.checkout_type') -%><br />
    <%= f.select2(:checkout_type_id, @checkout_types, @item.checkout_type_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 200) %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.accept_type') -%><br />
    <%= f.select2(:accept_type_id, @accept_types, @item.accept_type_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 200) %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.circulation_status') -%><br />
    <%= f.select2(:circulation_status_id, @circulation_statuses, @item.circulation_status_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 500) %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.retention_period') -%><br />
    <%= f.select2(:retention_period_id, @retention_periods, @item.retention_period_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 200) %>
  </div>

  <div class="field">
    <%= f.label :location_category %><br />
    <%= f.select2(:location_category_id, @location_categories, @item.location_category_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 250, :include_blank => true, :alt_display => true) %>
  </div>

  <div class="field">
    <%= f.label :location_symbol -%><br />
    <%= f.select2(:location_symbol_id, @location_symbols, @item.location_symbol_id, :display_attribute => 'keyname', :select_attribute => 'v', :width => 200, :include_blank => true, :alt_display => true) %>
  </div>

  <div class="field">
    <%= f.label :statistical_class -%><br />
    <%= f.select2(:statistical_class_id, @statistical_classes, @item.statistical_class_id, :display_attribute => 'keyname', :select_attribute => 'v', :width => 200, :include_blank => true, :alt_display => true) %>
  </div>

  <%= render :partial => 'form_budget_category', :locals => {:f => f, :item => @item} %>

  <div class="field">
    <%= f.label :call_number -%><br />
    <%= f.text_field :call_number -%>
    <%= t('activerecord.attributes.item.notice_call_number', :call_number_delimiter => current_user.library.call_number_delimiter) -%>
  </div>


  <div class="field">
    <%= f.label t('activerecord.models.bookstore') -%>
    <%= f.select2(:bookstore_id, @bookstores, @item.bookstore_id, :display_attribute => 'name', :select_attribute => 'id', :witdh => 150) %>
  </div>

  <div class="field">
    <%= f.label :price -%><br />
    <%= f.text_field :price -%>
  </div>

  <div class="field">
    <%= f.label :excluding_tax %><br />
    <%= f.text_field :excluding_tax %>
  </div>

  <div class="field">
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.tax_rate') %><br />
    <%= f.select2 :tax_rate_id, @tax_rates, @item.tax_rate_id, 
      display_attribute: 'display_name', 
      select_attribute: 'name',
      include_blank: true, 
      witdh: 150 %>
  </div>

  <div class="field">
    <%= f.label :url -%><br />
    <%= f.url_field :url, :class => 'resource_url' -%>
  </div>

  <div class="field">
    <%= f.label :include_supplements -%>
    <%= f.check_box :include_supplements -%>
  </div>

  <div class="field">
    <%= f.label t('activerecord.models.use_restriction') -%>
    <%= f.select2(:use_restriction_id, @use_restrictions, @item.use_restriction_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 400) %>
  </div>

  <div class="field">
    <%= f.label t('role.required_role') -%>
    <%= f.select2(:required_role_id, @roles, @item.required_role_id, :display_attribute => 'name', :select_attribute => 'id', :width => 150) %>
  </div>

  <div class="field">
    <%= f.label :non_searchable %>
    <%= f.check_box :non_searchable %>
  </div>

  <div class="field">
<script>
$(function(){
  $('#item_acquired_at_string').setCalendar({src:'/assets/calendar.png'});
});
</script>
    <%= f.label :acquired_at_string -%>
    <%= f.text_field :acquired_at_string, :class => 'date_field', :placeholder => "#{t('page.example')}: 2011-04-12"-%>
  </div>

  <div class="field">
    <%= f.label :note -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </div>

  <% if SystemConfiguration.get('manifestation.manage_item_rank') %>
    <div class="field">
      <%= f.label t('activerecord.attributes.item.rank') %><br />
      <%= f.select(:rank, item_ranks.collect{|r| [i18n_rank(r), r]}) %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_identifier -%><br />
    <%= select2_tag("numbering_type", "numbering[type]", numberings, nil, :display_attribute => 'display_name', :select_attribute => 'id', :width => 200, :include => false) %>
    <%= link_to t('activerecord.models.numbering'), {}, :onClick => "numbering();false", :remote => true %>
    <%= f.text_field :item_identifier, :class => 'resource_item_identifier' -%>
  </div>

  <% unless @claim_types.blank? %> 
    <div class="field">
      <%= f.fields_for :claim, @item.claim || Claim.new do |f_claim| %>
        <%= f_claim.label :claim_type_id %><br />
        <%= f_claim.select2 :claim_type_id, @claim_types, @item.claim_id, :display_attribute => 'display_name', :select_attribute => 'id', :width => 200, :include_blank => true %><br />
        <%= f_claim.label :note %><br />
        <%= f_claim.text_area :note, :class => 'resource_text_area' -%>
      <% end %>
    </div>
  <% end %>

  <%= render(:partial => 'form_item_has_operator', :locals=>{:f => f}) if SystemConfiguration.get('manifestation.use_item_has_operator') %>

  <div class="actions">
    <%= f.submit :disable_with => t('page.wait') %>
  </div>
  <%= javascript_tag("$('#library_id').focus()") -%>
<%- end -%>
