<script>
  $(document).ready(function() {
    $('#item_statistics_acquired_at_from').setCalendar({src:'/assets/calendar.png'});
    $('#item_statistics_acquired_at_to').setCalendar({src:'/assets/calendar.png'});
    $('#item_statistics_aggregation_second').change( function () {
      $('#aggregation_third').empty();
      $.ajax({
        url: '/statistical_table/get_aggregation_third',
        type: 'GET',
        dataType: 'html',
        data: {aggregation_second : $(this).val()},
        success: function(data) {
            $('#aggregation_third').html(data);
        },
      });
    });
  });
</script>
<%= form_for @item_statistics, :url => {:action => "output"} do |f| %>
  <%= f.hidden_field :statistical_table_type -%>
    <%= f.error_messages %>
    <p>
      <%= t('activerecord.attributes.item.acquired_at') -%>:
      <%= f.text_field :acquired_at_from, :size => 12, :placeholder => @default_date-%>-
      <%= f.text_field :acquired_at_to, :size => 12, :placeholder => @default_date-%>
    <p>
    <p>
      <%= f.check_box :money_aggregation, {}, true, false -%><%= t('statistical_table.money_aggregation') -%>
    <p>
    <p>
      <%= f.check_box :remove_aggregation, {}, true, false -%><%= t('statistical_table.remove_aggregation') -%>
    <p>
    <p>
      <%= t('activerecord.models.library') -%>:
      <%= f.collection_select :library_id, @librarlies, :id, :display_name, :include_blank => t('advanced_search.all_libraries')  -%>
    <p>
    <% if @output_conditions.present? -%>
      <p>
        <%= t('activemodel.attributes.item_statistics.output_condition') -%>:
        <%= f.collection_select  :output_condition, @output_conditions, :id, :keyname  -%>
      <p>
    <% end -%>
    <p>
      <%= t('activemodel.attributes.item_statistics.aggregation_first') -%>:
      <%= f.select :aggregation_first, @aggregation_first_classes, :include_blank => true -%>
    <p>
    <p>
      <%= t('activemodel.attributes.item_statistics.aggregation_second') -%>:
      <%= f.select :aggregation_second, @aggregation_second_classes -%>
    <p>
    <p>
      <%= t('activemodel.attributes.item_statistics.aggregation_third') -%>:
      <span id="aggregation_third">
        <%= render :partial => 'item_statistics_aggregation_third', :locals => {:f => f} %>
      </span>
    <p>
    <p>
      <%= f.submit t('statistical_table.statistical_table_output') -%>
    <p>
<% end %>
