<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.public_status')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.public_status.name') %>:</strong>
  <%= @public_status.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.public_status.display_name') %>:</strong>
  <%= @public_status.display_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.public_status.note') %>:</strong>
  <%= @public_status.note %>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_public_status_path(@public_status) -%></li>
    <li><%= link_to t('page.back'), public_statuses_path -%></li>
  </ul>
</div>

