<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "enju_trunk_mobile" %>
  <%= javascript_include_tag "enju_trunk_mobile" %>
  <title><%= resource_title(@manifestation, controller.action_name) %></title>
  <%= render 'page/mobile' %>
</head>
<body>

<div data-role="page">
  <%= yield %>
</div>

</body>
</html>
