<!DOCTYPE html>
<html>
<head>
  <title><%= resource_title(@manifestation, controller.action_name) %></title>
  <%= render 'page/include' %>
</head>
<body>
<%= render 'page/header' %>

<div id="content_mobile">
  <%= yield %>
</div>

<hr>
<% unless SystemConfiguration.get("not_use_footer") %>
  <%= render 'page/footer' %>
<% end %>
</body>
</html>
