<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale.to_s -%>" lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <title><%= resource_title(@manifestation, controller.action_name) %></title>
  <%= render 'page/include' %>
  <%- if controller.action_name == 'index' -%>
    <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => :rss, :page => nil, :commit => nil)), :title => (t('manifestation.library_group_manifestation', :library_group_name => @library_group.display_name.localize) + " (RSS)")) %>
    <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => :atom, :page => nil, :commit => nil)), :title => (t('manifestation.library_group_manifestation', :library_group_name => @library_group.display_name.localize) + " (Atom)")) %>
  <%- end -%>

  <% if %w(show edit).include?(controller.action_name) %>
    <% if Setting.book_jacket.source == :google %>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <%= render 'manifestations/google_book_thumbnail_header' %>
    <% end %>
    <% if Setting.book_jacket.source == :hanmoto %>
      <%#= render 'manifestations/hanmoto_thumbnail_header' %>
    <% end %>
  <% end %>
  <link rel="search" type="application/opensearchdescription+xml" title="<%= LibraryGroup.site_config.display_name.localize %>" href="<%= page_opensearch_url(format: :xml) %>">

</head>
<body>
<script>
  $(function(){
    $('#manifestation_pub_date').setCalendar({src:'/assets/calendar.png'});
    $('#manifestation_dis_date').setCalendar({src:'/assets/calendar.png'});
  });

  $(document).ready(function(){
    if ($("#errorExplanation").length > 0)
       playSound('<%= root_path -%><%= SystemConfiguration.get("sounds.basedir") %><%= SystemConfiguration.get("sounds.errors.default") %>');
  });
</script>
<%= render 'page/header' %>

<%- unless session[:breadcrumbs].nil? || session[:breadcrumbs].empty? -%>
  <div id="breadcrumb" %>
    <% session[:breadcrumbs].to_a[0..-2].each do |txt, url| %>
      <%= link_to(txt, url) %> >
    <% end %>
    <%= h(session[:breadcrumbs].to_a.last.first) if session[:breadcrumbs].to_a.last%>
  </div>
<%- end -%>

<%= render 'page/menu' %>

<div id="content">

<%= yield %>

</div>

<%= render 'page/function_general' %>
<%= render 'page/footer' %>

</body>
</html>
